<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input-sign-in" %></div>
  <div><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-sign-in" %></div>
  <div><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation", class: "input-sign-in" %></div>
  <div><%= f.submit "S'inscrire", class: "input-sign-in", id: "dive" %></div>
<% end %>
<div id="devise_links">
  <%= link_to "Se connecter", new_student_session_path, id: "signInLink" %>
  <%= link_to "Oubli", new_student_password_path, id: "forgotRLink" %>
</div>

<script type="text/javascript">
  $( "#signInLink" ).click(function( event ) {
    event.preventDefault();
    $( "#sign-up-form" ).fadeOut();
    $( "#sign-in-form" ).fadeIn();
  });
  $( "#forgotRLink" ).click(function( event ) {
    event.preventDefault();
    $( "#sign-up-form" ).fadeOut();
    $( "#forgot-form" ).fadeIn();
  });
</script>