<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input-sign-in" %></div>
  <div><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-sign-in" %></div>
  <div><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation" %></div>
  <div><%= f.submit "S'inscrire", class: "input-sign-in", id: "dive" %></div>
<% end %>
<a id="signInLink"></i>Se connecter</a>
<a id="forgotLink">Oubli</a>