Nouvelle demande !

<%= "Ville choisie: #{@location}" %>
<%= "Date: #{@date}" %>
<%= "Elève: #{@first_name} #{@last_name} de #{@age} ans" %>
<%= "Contact: #{@email}, #{@mobile_phone}"%>
<%= "Ordinateur: #{@computer}" %>
<%= "Attentes: #{@expectations}" %>
<%= "Remarques: #{@remarks}" %>
<%= "Programme choisi: #{@terms1} #{@terms2} #{@terms3}" %>

