<p>Nouvelle demande !</p>

<%= "Elève: #{@first_name} #{@last_name} de #{@age} ans" %>
<%= "Contact: #{@email}, #{@mobile_phone}"%>
<%= "Ordinateur: #{@pc} et #{@mac}" %>
<%= "Session: #{@session}" %>
<%= "Attentes: #{@expectations}" %>
