<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input-sign-in" %></div>
  <div><%= f.submit "Recevoir les instructions", class: "input-sign-in", id: "dive" %></div>
<% end %>
<div id="devise_links">
  <%= link_to "Se connecter", new_student_session_path, id: "signInFLink" %>
  <%= link_to "S'inscrire", new_student_registration_path, id: "signUpFLink" %>
</div>

<script type="text/javascript">
  $( "#signInFLink" ).click(function( event ) {
    event.preventDefault();
    $( "#forgot-form" ).fadeOut();
    $( "#sign-in-form" ).fadeIn();
  });
  $( "#signUpFLink" ).click(function( event ) {
    event.preventDefault();
    $( "#forgot-form" ).fadeOut();
    $( "#sign-up-form" ).fadeIn();
  });
</script>

