<% content_for :title, "You're in !" %>
<% content_for :description, "Si vous êtes sur cette page, vous avez postulé à notre programme et vous serez bientôt un geek cool !" %>

<!-- Main -->
<div id="main">
  <div id="content" class="container">
    <section>
      <header>
        <span class="byline">Voici les prochaines étapes :</span>
      </header>
      <div class="row">
        <section class="1u">
          <header>
            <p><i class="fa fa-envelope-o fa-2x"></i></p>
          </header>
        </section> 
        <section class="2u">
          <header>
            <p>AVANT 24H</p>
          </header>
        </section>        
        <section class="9u" id="faq">
          <p>Notre équipe vous contacte pour finaliser les derniers détails / convenir d'un appel si nécessaire et vous donner accès aux cours.</p>
          <p>Mettez dans votre agenda 2 sessions au moins par semaine pour avancer sur le tutoriel !</p>
        </section>        
      </div>
      <div class="row">
        <section class="1u">
          <header>
            <p><i class="fa fa-terminal fa-2x"></i></p>
          </header>
        </section> 
        <section class="2u">
          <header>
            <p>JUSTE APRES</p>
          </header>
        </section>        
        <section class="9u" id="faq">
          <p>C'est l'heure de coder !</p>
        </section>        
      </div>
    </section>
  </div>
</div>
