<% content_for :title, "Postuler" %>
<% content_for :description, "Commencez à coder votre site aujourd'hui en suivant nos tutoriels qui vous guident pas à pas pour 49euros, promo de 50% profitez-en !" %>

<!-- Featured -->
<div id="featured">
  <div class="container">
    <p>JapprendsACoder est une formation <strong>innovante</strong> sur un mois qui nécessite un <strong>investissement personnel régulier</strong>. Il vous faudra être sérieux pour tirer le maximum de cette formation.</p>
  </div>
</div>

<!-- Main -->
    <div id="main">
      <div class="container">
        <div class="row">

          <!-- Content -->
          <div id="content" class="8u skel-cell-important">
            <section>
              <header>
                <h2>Une question ?</h2>
                <span class="byline"> Nous vous recontactons sous 24h par mail.</span>
              </header>
              <%= form_tag({controller: "pages", action: "applied"}, method: "get",  id: "apply-form") do %>

                <div class="row">
                  <div class="6u">
                    <div class="form-group">
                      <%= label_tag(:last_name, "Nom") %>
                      <%= text_field_tag :last_name, nil, id: "last_name", name: "last_name", class: "form-control" %>
                    </div>
                  </div>
                  <div class="6u">
                    <div class="form-group">
                      <%= label_tag(:first_name, "Prénom") %>
                      <%= text_field_tag :first_name, nil, id: "first_name", name: "first_name", class: "form-control"  %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="6u" style="padding-top: 0;">
                    <div class="form-group">
                      <%= label_tag(:age, "Age") %>
                      <%= number_field_tag :age, nil, id: "age", name: "age", class: "form-control" %>
                    </div>
                  </div>
                  <div class="6u" style="padding-top: 0;">
                    <div class="form-group">
                      <%= label_tag(:mobile_phone, "Numéro de téléphone") %>
                      <%= text_field_tag :mobile_phone, nil, id: "mobile_phone", name: "mobile_phone", placeholder: "0607080910", class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="6u" style="padding-top: 0;">
                    <div class="form-group">
                      <%= label_tag(:email, "Email") %>
                      <%= email_field_tag :email, nil, id: "email", name: "email", required: "required",  class: "form-control" %>
                    </div>
                  </div>
                  <div class="6u" style="padding-top: 0;">
                    <p style="display: block; font-weight: bold; margin-bottom: 0.5em; margin-top: 15px;">Ordinateurs à disposition:</p>
                    <span>
                      <%= check_box_tag :computer_pc, "pc" %>
                      <%= label_tag(:computer_pc, "PC") %>
                    </span>
                    <span>
                      <%= check_box_tag :computer_mac, "mac" %>
                      <%= label_tag(:computer_mac, "Mac") %>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <%= label_tag(:expectations, "En quoi pouvons-nous vous aider ?") %>
                  <%= text_area_tag :expectations, nil, id: "expectations", name: "expectations", class: "form-control form-area"  %>
                </div>

                <%= submit_tag("ENVOYEZ", class: "btn-apply center") %>
              <% end %>
            </section>
          </div>

          <!-- Sidebar -->
          <div id="dates" class="4u">
            <section>
              <header>
                <h2>Nos dates</h2>
              </header>
              <ul class="style">
                <li>
                  <p class="posted">31 octobre</p>
                  <p>Lancement des cours.</p>
                </li>
                <li>
                  <p class="posted">Tous les mardis</p>
                  <p>Retrouvez-nous à Numa pour des questions.</p>
                </li>
                 <li>
                  <p class="posted">*Autres dates</p>
                  <p>N'hésitez pas à nous contacter pour connaître nos activités de cours car nous sommes aussi présents à Londres et à Numa pour des formations en présentiel!</p>
                </li>
              </ul>
            </section>
          </div>
          
        </div>
      </div>
    </div>
  <!-- /Main -->