<!DOCTYPE html>
<html>
<head>
  <title><%= h yield(:title) %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%=h yield(:description) %>">
  <meta name="robots" content="NOODP">

  <meta name="keywords" content="apprendre, coder, Londres, formation, cours, Rails, HTML5, CSS, JavaScript, web, Design" />

  <meta name="google-site-verification" content="vjG2Ks9_3aOvtb-HE0lKEKfLBBqbCelw4axh8MlEo1M" />

  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/assets/fast.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/ruby.ico" />

</head>


<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WRG29L"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WRG29L');</script>
  <!-- End Google Tag Manager -->
  

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36756132-3', 'auto');
    ga('send', 'pageview');
  </script>

  <% content_for :title, "JApprendsACoder" %>
	<% content_for :description, "JApprendsacoder avec Fast est une formation de code sur Londres destinée aux lycéens. En 3 jours maitrisez les outils pour construire votre site !" %>

	<div id="headerfast">
    <div class="container"> 
      <!-- Logo -->
      <div id="logofast">
        <h1>Fast vous initie au code</h1>
        <h2>Il fallait parler anglais, il faut parler HTML.</h2>
      </div>
        <a class="btn-start" href="#main">Découvrez le jeu que vous coderez</a>
      </div>
    </div>
  </div>
	

	<!-- Featured -->
  <div id="featured">
    <div class="container">
      <div class="row">
        <section class="4u">
          <span class="pennant"><span class="fa fa-gamepad"></span></span>
          <h3>Un jeu</h3>
          <p><strong>Flappy Bird</strong></p>
          <p>Parce que vous aller apprendre pendant vos vacances, nous rendons cet apprentissage ludique!</p>
        </section>
        <section class="4u">
          <span class="pennant"><span class="fa fa-code"></span></span>
          <h3>Un site</h3>
          <p><strong>Codez cette page</strong></p>
          <p>Apprenez à changer les couleurs, à mettre des photos et à recréer cette page !</p>
        </section>
        <section class="4u">
          <span class="pennant"><span class="fa fa-graduation-cap"></span></span>
          <h3>Des compétences</h3>
          <p><strong>HTML, CSS, UNITY3D</strong></p>
          <p>Ajoutez des compétences à votre CV. Démarquez-vous. Savoir coder vous servira quelles que soient vos études.</p>
        </section>
      </div>
      <a href="#formation" class="button button-style1">En savoir plus</a>
    </div>
  </div>

	<div id="main">
    <div id="content" class="container">
      <h2>FLAPPY BIRD A LONDRES</h2>
			<div class="wrapper">
			  <div class="window">
			    <p class="score">0</p>
				  <div class="bird"></div>
			    <div class="pipe hidden"></div>
			    <div class="pipe hidden"></div>
			 	</div>
			</div>
			<p class="text-center">Cliquez ou appuyez sur Espace pour commencer. <%= link_to "Recommencer", "", reload: true %>.</p>
		</div>
  </div>	
	

  <!-- Tweet -->
    <div id="tweetfast">
      <div class="container">
        <section>
          <blockquote>&ldquo;Coding is something that can be learned, and I know it can be intimidating, but you know, what isn't ?!&rdquo;</blockquote>
          <p>Chris Paul, NBA All-Star, coded in College</p>
        </section>
      </div>
    </div>

  <!-- Formation -->
    <div id="formation">
      <div id="content" class="container">
        <h2>LA FORMATION</h2>
        <div class="divider"></div>
        
        <div class="row">
          <section class="3u">
            <header>
              <h3>QUOI ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Une initiation au code pour comprendre <strong> les bases des langages </strong>de Web Design (HTML5, CSS, JavaScript).</p>
            <p>A la fin de la formation, vous saurez faire un CV en ligne, un blog, un site de e-commerce ou un jeu vidéo. Des compétences différenciantes lorsque le moment viendra de trouver un stage ou d'être accepté dans une classe préparatoire.
          </section>        
        </div>

        
        <div class="row">
          <section class="3u">
            <header>
              <h3>QUAND ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq" id="faq_date">
            <p>Les séances se déroulent sur 3 jours en octobre. Soit 3 matins, soit 3 après-midis. Il y a 2 choix possibles: du <strong>22 au 24octobre</strong>, et du <strong>25 au 27 octobre</strong>. D'autres dates pourront être ouvertes en cas de forte demande donc n'hésitez pas à nous écrire pour vous informer.</p>
            <p>Les cours du matin se déroulent de 9 à 13h.</p>
            <p>Ceux de l'après-midi sont entre 14 et 18h.</p>
          </section>        
        </div>


        <div class="row">
          <section class="3u">
            <header>
              <h3>POUR QUI ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p><strong>Pas de connaissance préalable en programmation demandée.</strong></p>
            <p>Cette formation s'adresse à tout lycéen (et à tout 3ème)  motivé souhaitant s'initier à la programmation.</p>
          </section>        
        </div>

        <div class="row">
          <section class="3u">
            <header>
              <h3>INSTRUCTEUR</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Cette formation est organisée par <strong>Nicolas Tournaud, professeur de code pour l'ESSEC, Centrale et le Strate College</strong> via le programme CPI. Nicolas est diplômé des Ponts et Chaussées, fut consultant en stratégie chez Oliver Wyman Paris et s'est reconverti en entrepreneur. Nicolas est passé par la formation du Wagon avant de travailler en Suisse comme développeur Ruby on Rails.</p>
          </section>         
        </div>


        <div class="row">
          <section class="3u">
            <header>
              <h3>LE PRIX ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Les cours sont à <strong>250 £</strong> TTC.</p>
         </section>
        </div>

      </div>
    </div>

    <!-- Footer -->
		<div id="footer">
		  <div class="container">
		    <section>
		      <header>
		        <h2>Nous contacter</h2>
		        <span class="byline">Nous répondons dans la journée à toutes vos questions</span>
		      </header>
		      <ul class="contact">
		        <li><a href="https://twitter.com/FastLanguages" class="fa fa-twitter"><span>Twitter</span></a></li>
		        <li class="active"><a href="https://www.facebook.com/fast.languages?fref=ts" class="fa fa-facebook"><span>Facebook</span></a></li>
		        <li><a href="https://plus.google.com/108288305019893809229/about" class="fa fa-google-plus" rel="publisher"></a></li>
		      </ul>
		      <span>admin@fastlanguages.com </span>
		      <div>FAST Languages, 88 Peterborough Road - SW6 3HH London</div>
		      <div style="display: none;"><a href="https://plus.google.com/+JapprendsacoderFr" rel="publisher">Google+</a>
					</div>
		    </section>
		  </div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
		  <div class="container">
		    Design: <a href="http://templated.co">TEMPLATED</a> Copyright: <a href="http://japprendsacoder.fr">J'apprends A Coder</a>
		  </div>
		</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

	<script type="text/javascript">
		$(function(){
			$window = $('.window'),
			$bird = $('.bird'),
		  fallTime = 1000,
		  gapHeight = 120,
		  gameState = 2,
		  pipeId = 0;

			var int = setInterval(function(){
		    if(gameState === 1){
		      spawnPipe();
		      movePipes();
		    }
		  }, 1300);
		  
		  var birdPosInterval = setInterval(function(){ 
		    if(gameState === 1){
		      birdPos();
		    }
		  }, 10);

			$window.mousedown(function(){
				birdFlap();
		    if(gameState === 2){
		      gameState = 1;
		      deleteInterval();
		    }
			});
		  
			$(window).keydown(function(e){
				if(e.keyCode === 32){
					birdFlap();
		      e.preventDefault();
		      if(gameState === 2){
		        gameState = 1;
		        deleteInterval();
		      }
				}
			});

		  function deleteInterval(){
			  setTimeout(function(){
				  var int= setInterval(function(){ 
		        if(gameState === 1){
		          deletePipe();
		        }
		      }, 1300);
			  }, 2050);
		  }
		  
			function birdFlap(){
		    if(gameState === 1 || gameState === 2){
		      $bird.css('transform', 'rotate(-20deg)');
				  $bird.stop().animate({
					  bottom: '+=60px'
		  		}, 200, function(){
		        birdPos();
		        $bird.css('transform', 'rotate(0deg)');
				  	$bird.stop().animate({
					    bottom: '-=60px'
		  		  }, 300, 'linear', function(){
		          birdPos();
		          gravity();
		        });
			  	});
		    }
			}

			function gravity(){
		    birdPercent = parseInt($bird.css('bottom')) / $window.height();
		    totalFallTime = fallTime * birdPercent;
				$bird.stop().animate({
					bottom: '0'
				}, totalFallTime, 'linear');

		    $bird.css('transform', 'rotate(90deg)');
			}

			function spawnPipe(){
		    pipeId++;
				pipeTopHeight = Math.floor(Math.random() * ($window.height() - 250)) + 50;
				pipeBottomHeight = $window.height() - (pipeTopHeight + gapHeight);
				pipe = '<div class="pipe" pipe-id="' + pipeId + '"><div style="height: ' + pipeTopHeight + 'px" class="topHalf"></div><div style="height:' + pipeBottomHeight + 'px" class="bottomHalf"></div></div>';
				$window.append(pipe);
			}

			function deletePipe(){
				$('.window .pipe').first().remove();
			}

			function movePipes(){
				$('.pipe').each(function(){
					$(this).animate({
						right: '+=160px'
					}, 1300, 'linear');
				});
			}
		  
		  function birdPos(){
		    if(parseInt($bird.css('bottom')) === 0){
		      gameEnd();
		    }
		    
		    curPipe = $('.pipe:nth-of-type(4)');
		    if(curPipe.length > 0){
		      pipeTop = $('.pipe:nth-of-type(4) .topHalf');
		      pipeBottom = $('.pipe:nth-of-type(4) .bottomHalf');
		      if(($bird.offset().left + $bird.width()) >= curPipe.offset().left && $bird.offset().left <= (curPipe.offset().left + curPipe.width())){
		        if($bird.offset().top < (curPipe.offset().top + pipeTop.height()) || ($bird.offset().top + $bird.height()) > ((curPipe.offset().top + pipeTop.height()) +   gapHeight)){
		          gameEnd();
		        }
		      } else if($bird.offset().left >= (curPipe.offset().left + curPipe.width())){
		        $('.score').text(curPipe.attr('pipe-id'));
		      }
		    }
		  }
		  
		  function gameEnd(){
		  	clearInterval(birdPosInterval);
		  	$('.pipe').stop();
		    gravity();
		  	gameState = 0;
		  }
		})
	</script>
</body>
</html>

