<% content_for :title, "JApprendsACoder" %>
<% content_for :description, "JApprendsacoder est une formation de code intense pour les actifs. En 1 mois maitrisez les outils pour construire votre site." %>

<!-- Featured -->
    <div id="featured">
      <div class="container">
        <div class="row">
          <section class="4u">
            <span class="pennant"><span class="fa fa-stumbleupon"></span></span>
            <h3>Flexible</h3>
            <p><strong>4h de tutoriel</strong></p>
            <p>Des tutoriels de 2 à 20min. à effectuer quand vous voulez. Des professeurs disponibles.</p>
          </section>
          <section class="4u">
            <span class="pennant"><span class="fa fa-exclamation"></span></span>
            <h3>Universel</h3>
            <p><strong>POUR TOUS</strong></p>
            <p>Pas de connaissance préalable requise.</p>
          </section>
          <section class="4u">
            <span class="pennant"><span class="fa fa-graduation-cap"></span></span>
            <h3>Le programme</h3>
            <p><strong>HTML, CSS, RUBY</strong></p>
            <p>Découvrez le code au travers d'un exemple de site de e-commerce.</p>
          </section>
        </div>
        <a href="#formation" class="button button-style1">En savoir plus</a>
      </div>
    </div>

  <!-- Main -->
    <div id="main">
      <div id="content" class="container">
        <h2>EXEMPLES DE SITES QUE VOUS SAUREZ CODER</h2>
        <div class="divider"></div>
        <div class="row">
          <section class="6u">
            <a href="http://japprendsacoder.fr/" class="image full"><img src="assets/header_m.png" alt="apprendre à coder"></a>
            <header>
              <h3>J'apprends A Coder</h3>
            </header>
            <p>Fonctionnalités enseignées: <i class="fa fa-html5"></i> <strong>design</strong> (HTML5, CSS, Bootstrap), <i class="fa fa-file-text"></i> <strong>envoi de formulaire</strong>, intégration d'un <i class="fa fa-credit-card"></i> <strong>moyen de paiement</strong>.</p>
          </section>        
          <section class="6u">
            <a href="http://myecommerce.herokuapp.com/"><img src="assets/ecommerce.jpg" alt="site de e-commerce" class="image full"></a>
            <header>
              <h3>Site de e-commerce</h3>
            </header>
            <p>Vous avez envie de vendre vos créations ? Fleurs livrés à domicile ? Bracelets ?  Services de chef culinaires ? Faites un site qui vous corresponde !</p>
          </section>        
        </div>

        <div class="row">
          <section class="6u">
            <a href="http://lecturecrush.herokuapp.com/" class="image full"><img src="assets/lecturecrush.jpg" alt="lecture pour enfants"></a>
            <header>
              <h3>Lecturecrush</h3>
            </header>
            <p>Cet outil de lecture destiné aux enfants utilise une fonctionalité supplémentaire: le <i class="fa fa-facebook-square"></i> <strong>login FB</strong> que nous verrons dans un tutoriel à venir sur les langages back-end <i class="fa fa-smile-o"></i>.
          </section> 
          <section class="6u">
            <img src="assets/yours1.jpg" alt="votre site" class="image full">
            <header>
              <h3>Site</h3>
            </header>
            <p>Nous sélectionnons les 20% des fonctionnalités qui permettent de coder 80% des sites web. Assemblez les fonctionnalités à votre guise et réalisez votre site web !</p>
          </section>               
        </div>
      
      </div>
    </div>

  <!-- Tweet -->
    <div id="tweet">
      <div class="container">
        <section>
          <blockquote>&ldquo;Coding is something that can be learned, and I know it can be intimidating, but you know, what isn't ?!&rdquo;</blockquote>
          <p>Chris Paul, NBA All-Star, coded in College</p>
        </section>
      </div>
    </div>

  <!-- Formation -->
    <div id="formation">
      <div id="content" class="container">
        <h2>LA FORMATION</h2>
        <div class="divider"></div>
        
        <div class="row">
          <section class="3u">
            <header>
              <h3>QUOI ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Une formation de code interactive pour apprendre à <strong>maîtriser les bases d'un langage</strong> de Web Design (HTML5, CSS, JavaScript) et bientôt de développement web (Ruby on Rails) et d'application iPhone.</p>
            <!-- <p>A la fin de la formation, agencez à votre guise toutes ces fonctionnalités: <i class="fa fa-lock"></i> gestion administrateur, <i class="fa fa-user"></i> gestion d'utilisateurs, <i class="fa fa-credit-card"></i> module de paiement, <i class="fa fa-picture-o"></i> gestion de photos, <i class="fa fa-file-text"></i> envoi de formulaire, login <i class="fa fa-facebook-square"></i> Facebook, et création d'un <i class="fa fa-shopping-cart"></i> panier d'achat.</p> -->
          </section>        
        </div>

        
<!--         <div class="row">
          <section class="3u">
            <header>
              <h3>QUAND ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq" id="faq_date">
            <p>Chaque semaine de nouvelles vidéos seront disponibles sur votre espace codeurs. La prochaine formation débute le 25 octobre, mais il faut se préparer en avance pour installer les bons outils ! N'ayez crainte nous vous accompagnons dans cette tâche ! </p>
            <p>Pas de panique si vous avez une question sur un cours, nos professeurs sont là pour ça ! </p> 
          </section>        
        </div> -->


        <div class="row">
          <section class="3u">
            <header>
              <h3>POUR QUI ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p><strong>Pas de connaissance préalable en programmation demandée.</strong></p>
            <p>Cette formation s'adresse à toute personne motivée souhaitant s'initier à la programmation.</p>
          </section>        
        </div>

    <!--     <div class="row">
          <section class="3u">
            <header>
              <h3>SEMAINE TYPE</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Vous recevez les vidéos de la semaine et pouvez les regarder à votre rythme. Nous vous conseillons fortement de consacrer 30minutes par jour au code pour vous impliquer à 100% dans ce projet !</p>
          </section>        
        </div> -->


        <div class="row">
          <section class="3u">
            <header>
              <h3>INSTRUCTEUR</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Cette formation est organisée par Nicolas Tournaud, professeur de code pour l'ESSEC, Centrale et le Strate College via le programme CPi. Nicolas est diplômé des Ponts et Chaussées, fut consultant en stratégie chez Oliver Wyman Paris et s'est reconverti en entrepreneur. Nicolas est passé par la formation du Wagon avant de travailler en Suisse comme développeur Ruby on Rails.</p>
            <p>Chaque cours dispose d'une section "Questions" et Nicolas répond en 24heures à toutes vos interrogations.</p>
          </section>        
        </div>

        <div class="row">
          <section class="3u">
            <header>
              <h3>LE PRIX ?</h3>
            </header>
          </section>        
          <section class="9u" class="faq">
            <p>Les cours sont jusqu'au 31 décembre à <strong>-50%</strong>, à 49€ TTC.</p>
            <p>Le tarif de 99€ s'appliquera ensuite en 2015.</p>
            <p><strong>GARANTIE </strong>satisfait ou remboursé (sans justification à apporter) dans les 7 jours suivant l'achat.</p>
         </section>
        </div>

        <a class="btn-apply center" href="/code-paris-apply#main">POSTULEZ</a>

      </div>
    </div>

