<% content_for :title, "Codeurs" %>
<% content_for :description, "Cet espace est réservé à nos geeks pour qu'ils puissent échanger, partager, et surtout apprendre !" %>


<!-- Main -->
<div id="main">
	<div id="content" class="container">
		<section>
			<header>
				<h2>Un accès d'un an à nos ressources !</h2>
			</header>
			<p>JapprendsACoder c'est une série de vidéos et de tutoriels qui permettent à tout un chacun de créer leur premier <a href="http://myecommerce.herokuapp.com/">site internet</a>. Ces vidéos seront mises en ligne au fur et à mesure. Il vous sera possible d'accéder à ces vidéos pour la somme de 49€ jusqu'au 25 octobre. Vous apprendrez ainsi à mettre des photos sur votre site, à insérer un moyen de paiement, et plein d'autres fonctionnalités qui vous serviront pour créer le site de votre choix.
		</section>
	</div>
</div>
<!-- /Main -->