<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="/lessons/chapters"><img src="https://s3-eu-west-1.amazonaws.com/codepin/Navbar" alt="Bootstrap Navbar" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Les attributs des balises</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", html_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      
      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
            <p class="lead">Concept</p>
      		  <p>Bootstrap vous permet directement de copier-coller des:</p>
              <ul class="list-style">
                <li>barres de navigation</li>
                <li>onglets</li>
                <li>class pour disposer horizontalement vos listes</li>
                <li>boutons</li>
                <li>menus déroulants, ...</li>
              </ul>
            <h3>1. Récupérez l'élément</h3>
            <p>Rendez-vous sur <a href="http://getbootstrap.com/components/#navbar">http://getbootstrap.com/components/#navbar</a> et recherchez l'élément qu'il vous faut. Ici la navbar.</p>
            <p>Mais cherchez à droite si vous voulez plutôt gérer le style d'une image, de boutons, d'onglets, etc.</p>
            <p>Lisez la documentation et copiez le code de la navbar.</p>
            <p>Collez-le sous votre balise "body": vous avez une barre de navigation responsive! (faites changer la taille de l'écran cela devrait marcher).</p>
            <h3>2. Personnalisez l'élément</h3>
            <p>Il y a des chances que Bootstrap vous facilite la tâche, mais ne vous convienne pas tout à fait. Un peu comme les contours d'un dessin il faut maintenant colorier. Par exemple :
            <ul class="list-style">
              <li>supprimons:
                <ul class="list-style2">
                  <li>des liens</li>
                  <li>la zone de recherche</li>
                </ul>
              </li>
              <li>personnalisons:
                <ul class="list-style2">
                  <li>le nom des liens ("link" est moyen)</li>
                  <li>le reste (couleur, police, taille) prochainement!</li>
                </ul>
              </li>
            </ul>
            <br>
            <pre class="prettyprint">
&lt;nav class=&quot;navbar navbar-default&quot; role=&quot;navigation&quot;&gt;
  &lt;div class=&quot;container-fluid&quot;&gt;
    &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
    &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;&lt;span&gt;CPi selfies&lt;span&gt;&lt;/a&gt;
    &lt;/div&gt;

    &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
    &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
      &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;dropdown&quot;&gt;
          &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;En savoir plus&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
          &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Alumni&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Concours du meilleur selfie&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;D&eacute;connexion&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
  &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
&lt;/nav&gt;
            </pre>
      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
                <br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;CPi selfies&lt;/title&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;

    &lt;div class=&quot;heading&quot;&gt;
      &lt;!-- Ma barre de navigation --&gt;
      &lt;nav class=&quot;navbar navbar-default&quot; role=&quot;navigation&quot;&gt;
        &lt;div class=&quot;container-fluid&quot;&gt;
          &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
          &lt;div class=&quot;navbar-header&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;&lt;span&gt;CPi selfies&lt;span&gt;&lt;/a&gt;
          &lt;/div&gt;

          &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
          &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;En savoir plus&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Alumni&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Concours du meilleur selfie&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;D&eacute;connexion&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
        &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
      &lt;/nav&gt;

      &lt;h1&gt;Laissez-nous vos meilleurs selfies !&lt;/h1&gt;

      &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
      &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
      &lt;!-- J&#039;inclus le JavaScript de Bootstrap --&gt;
      &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
    
  &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Aucun changement*/
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                    
          <%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


