<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://getbootstrap.com/"><img src="http://netdna.webdesignerdepot.com/uploads/2013/07/featured10@wdd2x.jpg" alt="Bootstrap" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Bootstrap</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", navbar_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
      		  <p class="lead">Bootstrap vous aide à coder rapidement votre site!</p>
      		  <p>Bootstrap est un framework CSS et JavaScript.</p>
            <p>Un framework consiste en des lignes de codes pré-écrites qui vous facilitent la vie.</p>
            <p>Ainsi lorsque vous incluez Bootstrap à votre site, vous allez inclure des lignes de CSS et des lignes de JavaScript. Ces lignes vous donnent accès à un grand nombre d'outils qui vous permettront de créer rapidement des barres de navigation, des onglets, des listes, des boutons, des colonnes. Vous gagnez en efficacité!</p>
            <h3>1. Ce qui rend Bootstrap unique</h3>
            <p>Grâce à Bootstrap, vous créez:</p>
              <ul class="list-style">
                <li>des sites responsives</li>
                <li>des sites identiques sur tous les navigateurs</li>
                <li>des éléments en un clic tels une barre de navigation, un message d'alerte, ou des onglets comme ceux de cette page <i class="fa fa-smile-o"></i></li>
              </ul>
            <p>De plus la documentation est très explicite. Il n'y a donc pas de secret: lisez et vous comprendrez.</p>
            <h3>2. Comment l'intégrer à votre site ?</h3>
            <h4>Général</h4>
            <p>Tout est indiqué: regardez la section "Bootstrap CDN" de la page <a href="https://getbootstrap.com/getting-started/">https://getbootstrap.com/getting-started/</a>. De la même manière qu'on relie notre fichier CSS à notre fichier HTML, nous allons lier le fichier CSS de Bootstrap au même fichier HTML.</p>
            <h4>Intégration du CSS</h4>
            <p>Il s'agit de la ligne "Latest compiled and minified CSS"</p>
           <pre class="prettyprint">
 &lt;head&gt;    
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
            </pre>
            <p>Qu'avons-nous intégré? Eh bien 6203 lignes de code CSS.</p>
            <p>Pourquoi ajoutons-nous Boostrap CSS avant notre feuille de style cpi2.css?</p>
            <p>Prenez cet exemple: vous voulez votre titre h1 en taille 25px mais par défaut Bootstrap met les titres h1 en 20px. Si vous mettez Bootstrap après, alors la version de Bootstrap va écraser la votre: vous ne pourrez pas modifier la taille de votre titre. C'est la notion de "cascade" de CSS, intégrez donc Bootstrap AVANT votre feuille de style pour écraser le style de Bootstrap quand celui-ci ne vous correspond pas.</p>
 
            <h4>Intégration du JavaScript</h4>
            <p>Il s'agit de la ligne "Latest compiled and minified JavaScript"</p>
            <pre class="prettyprint">
&lt;body&gt;
  &lt;!-- Contenu de votre site --&gt;

  &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
  &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
&lt;/body&gt;
            </pre>
            <p>Qu'avons-nous intégré? Eh bien 2214 lignes de code JavaScript.</p>
            <p>Pourquoi ajoutons-nous Boostrap JavaScript APRES tout notre contenu?</p>
            <p>JavaScript agit sur les éléments de la page (menu déroulant, onglets, ...) ceux-ci ont donc besoin d'exister et d'être déjà chargés, nous plaçons donc le JavaScript à la fin du document juste avant la balise body. De plus cela optimise le temps de chargement de la page.<i class="fa fa-smile-o"></i></p>
            <ul class="list-style">
            	<li>jQuery: <a href="https://code.jquery.com/jquery-1.11.0.js">https://code.jquery.com/jquery-1.11.0.js</a> est inclus avant la ligne disponible sur le site de Bootstrap car Bootstrap a besoin d'un autre framework JavaScript jQuery pour fonctionner, nous l'intégrons donc AVANT d'intégrer Bootstrap. Les frameworks sont partout!</li>
            	<li>Bootstrap JavaScript: <a href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js">https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js</a></li>
            </ul>
      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
              	<br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;CPi selfies&lt;/title&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
		
  &lt;!-- J&#039;inclus le CSS de Bootstrap --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;!-- Contenu de votre site --&gt;



  &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
  &lt;script src="https://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
  &lt;!-- J&#039;inclus le JavaScript de Bootstrap --&gt;
  &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt;&lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Rien de particulier ici*/
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                    
      		<%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


