<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="/"><img src="http://www.w3.org/TR/CSS2/images/boxdim.png" alt="Box Model CSS" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Les marges en CSS: le Box Model</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", center_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <p>Agrandissons notre barre de navigation pour passer à une hauteur minimale de 70px: les éléments ne sont plus alors centrés. Il va falloir les "décaler vers le bas".</p>
            <img src="https://s3-eu-west-1.amazonaws.com/codepin/NavbarSize">
            <h3>1. Les marges en CSS</h3>
            <p>Il existe deux types de marges: les marges externes qu'on appelle des "marges" et les marges internes, le "padding".</p>
            <h3>2. Le sens des aiguilles d'une montre</h3>
            <p>On peut définir des marges par rapport au haut, à la droite, au bas, et à la gauche de l'élément. Dans notre cas c'est la marge par rapport au haut qui nous intéresse:</p>
            <br>
            <pre class="prettyprint">
.navbar-brand, .navbar-toggle {
  margin-top: 0.6em;
  text-transform: uppercase;
}

.navbar-right li a {
  margin-top: 0.6em;
}
            </pre>
          </div>
          <div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
                <br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li>
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li class="active">
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;CPi selfies&lt;/title&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
    
  &lt;!-- J&#039;inclus le CSS de Bootstrap --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
 &lt;body&gt;

    &lt;div class=&quot;heading&quot;&gt;
      &lt;!-- Ma barre de navigation --&gt;
      &lt;nav class=&quot;navbar navbar-default&quot; role=&quot;navigation&quot;&gt;
        &lt;div class=&quot;container-fluid&quot;&gt;
          &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
          &lt;div class=&quot;navbar-header&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;&lt;span&gt;CPi selfies&lt;span&gt;&lt;/a&gt;
          &lt;/div&gt;

          &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
          &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;En savoir plus&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Alumni&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Concours du meilleur selfie&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;D&eacute;connexion&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
        &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
      &lt;/nav&gt;

      &lt;h1&gt;Laissez-nous vos meilleurs selfies !&lt;/h1&gt;

      &lt;h2&gt;Des selfies aux quatre coins du monde&lt;/h2&gt;
      &lt;p&gt;Soyez les ambassadeurs de CPi&lt;/p&gt;

      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
          &lt;i class=&quot;fa fa-globe fa-5x&quot;&gt;&lt;/i&gt;
          &lt;h3&gt;Networking&lt;/h3&gt;
          &lt;p&gt;Les selfies vous g&eacute;olocalisent et permettent de rencontrer la communaut&eacute; CPi autour du monde.&lt;/p&gt;
          &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
          &lt;i class=&quot;fa fa-lock fa-5x&quot;&gt;&lt;/i&gt;
          &lt;h3&gt;Priv&eacute;&lt;/h3&gt;
          &lt;p&gt;G&eacute;rez les param&egrave;tres de confidentialit&eacute; de vos selfies et rendez les visibles uniquement de la communaut&eacute; CPi !&lt;/p&gt;
          &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;Confidentialit&eacute;&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-4&quot;&gt;
          &lt;i class=&quot;fa fa-gift fa-5x&quot;&gt;&lt;/i&gt;
          &lt;h3&gt;Networking&lt;/h3&gt;
          &lt;p&gt;Le meilleur selfie remporte un voyage &agrave; SF pour rencontrer Eric Schmidt !&lt;/p&gt;
          &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;

  &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
  &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
  &lt;!-- J&#039;inclus le JavaScript de Bootstrap a besoin --&gt;
  &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane active" id="css">
                      <br>
                      <pre class="prettyprint">
.margin-top: 0.6em;
  text-transform: uppercase;
}

.navbar-right li a {
  margin-top: 0.6em;
}
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                    
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


