<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="/"><img src="https://s3-eu-west-1.amazonaws.com/codepin/Block" alt="Bootstrap" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Centrer en CSS</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", police_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
      		  <p class="lead">Centrons verticalement, horizontalement. C'est plus compliqué qu'il n'y paraît.</p>
            <h3>1. Inline vs Block</h3>
            <p>En HTML tout élément est soit de type block, soit de type inline.</p>
            <h4>Block</h4>
            <p>Les éléments de type block prennent 100% de la largeur disponible et se placent les uns sous les autres (exemple: le paragraphe). Ils peuvent contenir d'autres éléments block et des éléments inline indifféremment.</p>
            <h4>Inline</h4>
            <p>Les éléments de type inline occupent seulement la largeur nécessaire et se placent les uns à la suite des autres (exemple: la mise en évidence d'un mot avec strong). Ils ne peuvent pas contenir d'éléments de type block, seulement des éléments inline.</p>

            <div class="panel panel-default">

              <!-- Table -->
              <table class="table table-bordered center">
                <th class="center">Eléments Block</th>
                <th class="center">Eléments Inline</th>
                <tr>
                  <td>h1, h2, ..., h6</td>
                  <td>strong</td>
                </tr>
                <tr>
                  <td>p</td>
                  <td>a</td>
                </tr>
                <tr>
                  <td>header, article, section, footer, nav</td>
                  <td>img</td>
                </tr>
                <tr>
                  <td>ul, ol</td>
                  <td>em</td>
                </tr>
                <tr>
                  <td>div</td>
                  <td>span</td>
                </tr>
              </table>
            </div>

            <h4>Inline-block</h4>
            <p>Les éléments de type inline-block contrôlent leur largeur (comme des blocks) et se placent les uns à coté des autres (inline).</p>
            <h4>Les éléments de type inline</h4>
            <pre class="prettyprint">
text-align: center;
            </pre>
            <p>Cette propriété est héritée pour tous les fils en-ligne de l'élément.</p>
            <h3>2. Centrez horizontalement</h3>
            <h4>Les éléments de type Block</h4>
            <p>Nous pouvons leur appliquer une margin et ainsi en fixant margin-left et margin-right à "auto".</p>
            <pre class="prettyprint">
margin-left: auto;
margin-right: auto;
            </pre>
            <h3>3. Centrez verticalement</h3>
            <h4>Line-height</h4>
            <pre class="prettyprint">
text-align: center;
            </pre>
            <p>Cette propriété est héritée pour tous les fils en-ligne de l'élément.</p>
            <h4>Inline-block</h4>
            <p>Nous pouvons leur appliquer une margin et ainsi en fixant margin-left et margin-right à "auto".</p>
            <pre class="prettyprint">
margin-left: auto;
margin-right: auto;
            </pre>

      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
              	<br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;CPi selfies&lt;/title&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
		
  &lt;!-- J&#039;inclus le CSS de Bootstrap --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;!-- Contenu de votre site --&gt;



  &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
	&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
  &lt;!-- J&#039;inclus le JavaScript de Bootstrap a besoin --&gt;
	&lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Rien de particulier ici*/
                      </pre>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>                    
      		<%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


