<%= render 'layouts/header_lessons' %>
    
    <div class="container">
      <div class="course" id="course_4">
        <div class="col-md-10 col-md-offset-1">
          <!-- Début d'une section -->
          <div class="section" id="section_1">
            <h2 class="section-title emphasis">Mise en place
              <span class="list-group-item-text step-description length">10:00</span>
                <small></small>
            </h2>
            <ul class="list-group">

              <div class="step" id="step_1">
                <a class="list-group-item" href="objectif">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">1. </span>
                      L'objectif de ces 4 sessions! 
                      <span class="list-group-item-text step-description length">02:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Un bref aperçu de ce que nous allons coder ensemble.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_2">
                <a class="list-group-item" href="sublime-text">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">2. </span>
                      Installer Sublime Text
                      <span class="list-group-item-text step-description length">03:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Comment installer Sublime Text en utilisant nos outils</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_3">
                <a class="list-group-item" href="premiere-page-html">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">3. </span>
                      Votre première page HTML
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Ouvrez votre dossier de travail dans Sublime Text et créez votre premier fichier HTML</p>
                  </div>
                </a>
              </div>

            </ul>
          </div><!--  Fin d'une section -->

          <!-- Début d'une nouvelle section HTML -->
          <div class="section" id="section_2">
            <h2 class="section-title emphasis">HTML
              <span class="list-group-item-text step-description length">30:00</span>
                <small></small>
            </h2>
            <ul class="list-group">

              <div class="step" id="step_4">
                <a class="list-group-item" href="front-end">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">4. </span>
                      Les langages du Front-End
                      <span class="list-group-item-text step-description length">02:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">HTML pour le contenu, CSS pour le design, JavaScript pour les interactions.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_5">
                <a class="list-group-item" href="syntaxe-html">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">5. </span>
                      HTML, la syntaxe: des balises autour de votre contenu
                      <span class="list-group-item-text step-description length">03:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Balises, éléments, attributs</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_6">
                <a class="list-group-item" href="document-html-minimal">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">6. </span>
                      Document HTML minimal
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">La structure de base de tout site web à recopier dans tous vos futurs sites.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_7">
                <a class="list-group-item" href="balises-classiques">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">7. </span>
                      Les balises classiques
                      <span class="list-group-item-text step-description length">08:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Les balises de titre, de paragraphe, d'importance, de liste, de saut de ligne et les balises HTML5 structurant le document ne nécessitent pas d'attribut.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_8">
                <a class="list-group-item" href="attributs">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">8. </span>
                      Les balises de lien et d'image: attributs
                      <span class="list-group-item-text step-description length">07:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Les balises de lien et d'image nécessitent des options ou "attributs" pour spécifier le chemin de redirection (lien) ou le chemin où se trouve l'image.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_9">
                <a class="list-group-item" href="html">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">9. </span>
                      You speak HTML !
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Récapitulatif et pistes pour aller plus loin avant l'attaque du CSS.</p>
                  </div>
                </a>
              </div>

            </ul>
          </div><!--  Fin d'une section -->

          <!-- Début d'une nouvelle section CSS -->
          <div class="section" id="section_3">
            <h2 class="section-title emphasis">CSS - Découverte
              <span class="list-group-item-text step-description length">25:00</span>
                <small></small>
            </h2>
            <ul class="list-group">

              <div class="step" id="step_10">
                <a class="list-group-item" href="css">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">10. </span>
                      CSS, le maquillage du web
                      <span class="list-group-item-text step-description length">02:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">CSS apporte définit l'aspect visuel de chaque site. HTML dit "ceci est un titre", CSS dit "les titres sont grands et rouges".</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_11">
                <a class="list-group-item" href="syntaxe-css">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">11. </span>
                      CSS, la syntaxe
                      <span class="list-group-item-text step-description length">03:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Propriété, valeur, et sélecteur.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_12">
                <a class="list-group-item" href="ou-mettre-le-css">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">12. </span>
                      Où mettre le CSS ?
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">CSS est là pour séparer le contenu de la présentation, par conséquent on le met dans un fichier séparé. Cela évite pas mal de travail lorsqu'on souhaite effectuer des changements.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_13">
                <a class="list-group-item" href="exemple-couple-propriete-valeur">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">13. </span>
                      Comprendre les couleurs et la taille de police
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">La propriété color définit la couleur du texte. La propriété font-size définit la taille du texte.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_14">
                <a class="list-group-item" href="selecteur-class">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">14. </span>
                      Comment faire pour ne mettre qu'un seul titre en rouge ? Le sélecteur "class"
                      <span class="list-group-item-text step-description length">07:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Vous voulez un seul de vos titres en rouge ? Le sélecteur "class" est fait pour vous.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_15">
                <a class="list-group-item" href="colorzilla">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">15. </span>
                      Pause mi-parcours: ajout d'icônes & inspection d'éléments
                      <span class="list-group-item-text step-description length">03:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Colorzilla, Brandcolors, Adobe Kuler, Imfreecrator, profitez de sites à votre disposition pour améliorer le rendu de votre site.</p>
                  </div>
                </a>
              </div>

            </ul>
          </div><!--  Fin d'une section -->

          <!-- Début d'une nouvelle section CSS -->
          <div class="section" id="section_4">
            <h2 class="section-title emphasis">CSS - La Fin
              <span class="list-group-item-text step-description length">60:00</span>
                <small></small>
            </h2>
            <ul class="list-group">

              <div class="step" id="step_16">
                <a class="list-group-item" href="bootstrap">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">16. </span>
                      Bootstrap
                      <span class="list-group-item-text step-description length">07:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Bootstrap vous aide considérablement dans votre design au quotidien.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_17">
                <a class="list-group-item" href="barre-de-navigation">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">17. </span>
                      Bootstrap: comprendre la barre de navigation
                      <span class="list-group-item-text step-description length">13:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Insérer la barre de navigation Bootstrap. Copiez, collez et créez votre site grâce à Bootstrap.</p>
                  </div>
                </a>
              </div>

             <div class="step" id="step_18">
                <a class="list-group-item" href="grille">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">18. </span>
                      Bootstrap: la grille Bootstrap
                      <span class="list-group-item-text step-description length">08:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Créez vos colonnes grâce aux classes Bootstrap.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_19">
                <a class="list-group-item" href="arriere-plan">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">19. </span>
                      Vos arrières-plans
                      <span class="list-group-item-text step-description length">07:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Ajoutez une superbe photo en fond d'écran de votre site grâce à la propriété background.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_20">
                <a class="list-group-item" href="box-model">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">20. </span>
                      Les marges en CSS: le Box Model
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Agrandissez la barre de navigation et recentrez les éléments grâce aux propriétés margin et padding.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_21">
                <a class="list-group-item" href="centrer">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">21. </span>
                      Centrer en CSS
                      <span class="list-group-item-text step-description length">10:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Positionnez votre titre au milieu de votre page grâce à la propriété "display".</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_22">
                <a class="list-group-item" href="police">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">22. </span>
                      Personnalisez la police de votre site: Google Fonts
                      <span class="list-group-item-text step-description length">04:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Utilisez Google Fonts pour mettre des polices plus attrayantes sur votre site.</p>
                  </div>
                </a>
              </div>

              
              <div class="step" id="step_23">
                <a class="list-group-item" href="icones">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">23. </span>
                      FUN: icônes, :hover, lien interne, position fixed.
                      <span class="list-group-item-text step-description length">06:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Découvrez des propriétés toutes simples mais très utilisées.</p>
                  </div>
                </a>
              </div>

            </ul>
          </div><!--  Fin d'une section -->

          <!-- Début d'une nouvelle section CSS -->
          <div class="section" id="section_3">
            <h2 class="section-title emphasis">Mise en ligne
              <span class="list-group-item-text step-description length">65:00</span>
                <small></small>
            </h2>
            <ul class="list-group">

              <div class="step" id="step_24">
                <a class="list-group-item" href="ligne-de-commande">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">24. </span>
                      Le terminal
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Le terminal peut intimider le débutant, mais il est relativement simple et nous limiterons son utilisation à quelques commandes.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_25">
                <a class="list-group-item" href="git">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">25. </span>
                      Initiation à Git
                      <span class="list-group-item-text step-description length">10:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Git vous laisse sauvegarder différentes versions de votre projet pour trois raisons: travailler plus facilement en équipe (comme un Google Doc), pour revenir sur des changements que vous avez faits, ou pour travailler sur plusieurs fonctionnalités au même moment.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_26">
                <a class="list-group-item" href="github">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">26. </span>
                      Github
                      <span class="list-group-item-text step-description length">10:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Le googledoc des développeurs! Github vous permet de partager du code avec votre équipe, avec votre employeur potentiel, ou avec votre professeur. Pour ce cours nous utiliserons Github pour vous aider à identifer vos problèmes. Je pourrai revoir votre code.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_27">
                <a class="list-group-item" href="heroku">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">27. </span>
                      Heroku
                      <span class="list-group-item-text step-description length">15:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Comment déployer votre app en live pour que les autres puissent y accéder? Avec Heroku et un peu de manip' on y arrive !</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_28">
                <a class="list-group-item" href="customiser">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">28. </span>
                      Personnalisez votre URL
                      <span class="list-group-item-text step-description length">10:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Mettez votre site en ligne sur Heroku !</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_29">
                <a class="list-group-item" href="seo">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">29. </span>
                      Un peu de S.E.O.
                      <span class="list-group-item-text step-description length">10:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Assurez-vous que votre site corresponde aux bons critères de référencement par le robot de Google.</p>
                  </div>
                </a>
              </div>

              <div class="step" id="step_30">
                <a class="list-group-item" href="/steps/sanity-check">
                  <div class="step-progress-indicator complete ">
                    <span class="step-progress-indicator-icon complete "></span>
                  </div>
                  <div class="step-info">
                    <h3 class="list-group-item-heading step-title">
                      <span class="step-number">30. </span>
                      Réseaux sociaux: ajout du bouton "Like"
                      <span class="list-group-item-text step-description length">05:00</span>
                      <small></small>
                    </h3>
                    <p class="list-group-item-text step-description">Connectez votre site aux réseaux sociaux</p>
                  </div>
                </a>
              </div>

            </ul>
          </div><!--  Fin d'une section -->
        </div>
      </div>
    </div>
  </body>
</html>
