<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href=""><img src="http://www.videolan.org/doc/vlc-user-guide/en/images/terminal-windows.jpg" alt="Ligne de Commande" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>La fenêtre "Terminal"</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", git_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <h3>1. Ouvrir le Terminal</h3>
            <ul class="list-style">
              <li>Sur un Mac, cherchez "Terminal" avec la loupe.</li>
              <li>Sur un PC cliquez sur le bouton Démarrer <i class="fa fa-arrow-right"></i> Tous les Programmes <i class="fa fa-arrow-right"></i> Accessoires <i class="fa fa-arrow-right"></i> Invite de commandes</li>
            </ul>
            <p>Vous pouvez voir que la console affiche au début de chaque ligne le répertoir dans lequel vous vous situez, et sur Mac le nom de la machine ainsi que le nom d'utilisateur.</p>
            <h3>2. Commandes de base</h3>
            <pre class="prettyprint">
$ cd MonSite #Pour rentrer dans un dossier. Appuyer sur "Tab" pour voir des suggestions.
$ cd .. #Pour revenir dans le dossier précédent
$ ls (<i class="fa fa-apple"></i>) ou dir (<i class="fa fa-windows"></i>) #Pour lister le contenu du répertoire
$ ls -a (<i class="fa fa-apple"></i>) ou dir /a (<i class="fa fa-windows"></i>) #Pour inclure tous les fichiers y compris les cachés
$ clear (<i class="fa fa-apple"></i>) ou cls (<i class="fa fa-windows"></i>) #Pour retrouver une fenêtre propre
            </pre>
            <h3>3. Raccourcis des commandes</h3>
            <p>Avec la flèche du haut revenez à une commande tapée précédemment.</p>
            <p>Le copier-coller sur Mac est <i class="fa fa-apple"></i> + C / <i class="fa fa-apple"></i> + V.</p>
            <p>Sur Windows pour coller: clic droit et coller. Pour copier, clic droit: "Sélectionner" puis clic sur l'icône en haut à gauche, "Modifier" et "Copier".</p>
            <h3>4. Aller plus loin.</h3>
            <p>Rendez-vous sur <a href="http://cli.learncodethehardway.org/book/">http://cli.learncodethehardway.org/book/</a> pour tout connaître du terminal.</p>
          </div>         
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


