<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <img src="https://s3-eu-west-1.amazonaws.com/codepin/FrontEnd" alt="langages du front-end" class="imageLesson">
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Les langages du Front-End</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", syntaxhtml_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
      		  <p class="lead">Un bref récapitulatif de ce que nous ferons ensemble dans cette classe.</p>
      		  <p>Bienvenue dans CPi Code Academy, je suis ravi de vous compter parmi mes élèves et nous allons coder ensemble quelque chose de plutôt sympa sur le mois à venir !</p>
            <h3>Ce que nous allons coder</h3>
            <p>Un site de e-commerce qui vous permettra de récolter de l'argent et qui aura un design plutôt sympa !</p>
            <p>Vous aurez une application qui est responsive c'est à dire qu'elle s'adapte à la taille de l'écran, les gens pourront acheter des produits, vous pourrez en ajouter via une interface d'administrateur. Nous rajouterons même des utilisateurs à la toute fin !</p>
            <p>Dans la première leçon nous allons installer ensemble Rails, c'est de loin l'étape la plus ennuyeuse mais il faut passer par là, et vous n'aurez à la faire qu'une fois !</p>
      		</div>                    
          <%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


