<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://git-scm.com/downloads">
            <img src="http://scotch.io/wp-content/uploads/2013/11/git-cheat-sheet.jpg" alt="Git" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Initiation à Git</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", github_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <p class="lead">Git commit: gardez des versions de votre site</p>
            <p>Git conserve une trace de tous les changements que vous faites et les stocke. Il prend des « Photos » de votre site à différents moments dans le temps et vous pouvez en permanence revenir à une photo plus ancienne.</p>
            <p>Un commit dans un dépôt git, késako ? Cela signifie créer une image de votre projet.</p>
            <p>C'est exactement comme un Google Doc, Git va vous permettre de revenir en arrière, de savoir qui a fait telle modification, de travailler simultanément sur le même projet, etc. Git va également nous être utile pour déployer notre site en ligne.</p>

            <h3>1. Installer Git sur votre ordinateur</h3>
            
            <h4>a. Téléchargement</h4>
            <p>Sélectionnez votre OS:</p>

            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#mac">Mac <i class="fa fa-apple"></i></a>
              </li>
              <li>
                <a data-toggle="tab" href="#macold">Mac version 10.6.8</a>
              </li>
              <li>
                <a data-toggle="tab" href="#windows">Windows <i class="fa fa-windows"></i></a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="macold">
                <br>
                <p>Téléchargez la version 1.7.5.4 <a href="https://code.google.com/p/git-osx-installer/downloads/list">ici</a>.</p>
              </div>
              <div class="tab-pane active" id="mac">
                <br>
                <p>Téléchargez git sur <a href="http://git-scm.com/downloads">http://git-scm.com/downloads</a>.</p>
                <p>Allez dans votre terminal et entrez:</p>
                <pre class="prettyprint">
    $ alias git="/usr/local/git/bin/git"
                </pre>
              </div>
              <div class="tab-pane" id="windows">
                <br>
                <p class="lead">Etapes pour installer sur Windows</p>
                  <p>Téléchargez git sur <a href="http://git-scm.com/downloads">http://git-scm.com/downloads</a>.</p>
                  <p><i class="fa fa-exclamation-triangle"></i> Attention, à l'étape "Adjusting your path environment", il faut cliquer sur le troisième bouton (avec le texte rouge en dessous) <strong class="warning">"Run Git and included Unix tools from the Windows Command Prompt"</strong>.</p>
              </div>
            </div>
            <br>
            <p>Vous avez fait une erreur et souhaitez recommencer ? Il faut au préalable sûrement supprimer la version de git que vous avez téléchargée. Pour cela:</p>
            <pre class="prettyprint">
$ sudo rm -rf /usr/local/git
$ rm /etc/paths.d/git
$ rm /etc/manpaths.d/git
            </pre>
            <br>
            <h4>b. Vérification</h4>
            <p>Pour vérifier que l'installation a bien fonctionné, tapez <strong>git</strong> dans votre terminal. Vous devriez voir une liste de commandes possibles sous git et non une message d'erreur.</p>
            <p>Maintenant que Git est installé, nous allons pouvoir taper des commandes de Git.</p>
            <h3>3. Configurez Git sur un nouvel ordinateur</h3>
            <p>Vous ne devez faire ces manipulations qu'une seule fois par ordinateur et si vous ne voulez pas mettre votre vrai mail, pas de souci mais il faut quand même faire cette étape pour pouvoir utiliser git. Un peu comme pour valider une inscription sur un site en ligne il faut renseigner une date de naissance mais le site n'ira jamais vérifier qu'on a mis notre vraie date de naissance).</p>
            <pre class="prettyprint">
$ git config --global user.name "Nicolas Tournaud"
$ git config --global user.name
$ git config --global user.email "ntournaud@gmail.com"
$ git config --global user.email
            </pre>
            <h3>4. Configurer Git sur un nouveau projet</h3>
            <p>Vous ne devez faire ces manipulations qu'une seule fois par projet. Mettez vous à partir de votre projet DANS votre dossier grâce à la commande cd. Ainsi par exemple pour un dossier CPi qui est sur mon Bureau:<br><strong>cd Desktop/CPi</strong> (utiliser TAB permet de compléter le chemin).</p>
            <pre class="prettyprint">
$ git init #Un dossier caché .git est créé où TOUT sera gardé en copie (ls -a, dir /a)
$ git status #vous montre les fichiers que vous suivez (ou ne suivez pas)
$ git add nomfichier1 nomfichier2
$ git add -A #ajoute tous les fichiers (commande )
$ git commit -m "la première sauvegarde de mon projet" 
$ git push #nous verrons dans la prochaine leçon cette commande
            </pre>
            <p>Git fait en sorte que les commits soient aussi légers que possible donc il ne recopie pas tout le répertoire à chaque commit. En fait, git n'enregistre que l'ensemble des changments ("delta") depuis la version précédante du dépôt.</p>
            <h3>5. Méthode de travail</h3>
            <p>La démarche est la suivante:</p>
            <ol class="list-style">
              <li>Codez un nouvel élément ou corrigez un bug</li>
              <li>Vérifiez dans le navigateur que votre code fonctionne</li>
              <li>Faites un <strong>git commit -m "Description de mon changement"</strong></li>
              <li>Recommencez</li>
            </ol>
            <p>Un commit dans un dépôt (repository) git enregistre une image (snapshot) de tous les fichiers du repertoire. Comme un Copier-Coller géant, mais en bien mieux !</p>
<!--             <h3>5. Pour les Macs, mettre à jour le .gitgnore</h3>
            <p>Ajouter .DS_Store à votre fichier /.gitignore pour qu'il ne suive pas les fichiers .DS_Store qui sont générés aléatoirement par votre Mac et n'ont aucune utilité à votre site.</p>
            <pre class="prettyprint">
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
            </pre> -->
            <h3>6. Entraînons-nous !</h3>
            <p>Allez sur ce lien et faites les 15minutes d'exercices pour vous familiariser avec Git: <a href="https://try.github.io/levels/1/challenges/1">try.github.io</a>.</p>
          </div>         
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


