<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="https://github.com/"><img src="https://assets-cdn.github.com/images/modules/open_graph/github-octocat.png" alt="Github" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Mettre en place Github</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", heroku_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <p class="lead">Quelle différence entre Git et Github?</p>
            <p>Git est juste sur notre ordinateur, dans le dossier caché créé précédemment. Github vous permet de le mettre en ligne et de le partager comme vous partageriez des photos sur Facebook. Cela vous permet de partager du code avec votre équipe, avec votre employeur potentiel, ou avec votre professeur. Pour ce cours nous utiliserons Github pour vous aider à identifier vos problèmes. Je pourrai revoir votre code.</p>
            <h3>1. Créez un compte Github</h3>
            <p>Rendez-vous sur <a href="http://github.com">http://github.com</a> et créez un compte.</p>
            <h3>2. Créez une clef SSH</h3>
            <p>Pour pouvoir déployer votre code sur Github, il doit vous identifier. Nous allons donc mettre une clef sur votre ordinateur, nous allons la copier sur Github, et quand vous essaierez de déployer votre code, il comparera les deux clefs et si elles correspondent vous laissera faire<i class="fa fa-smile-o"></i>. Cela empêche n'importe qui d'avoir accès à votre code.</p>
            <p>Vérifiez tout d'abord que vous n'avez pas déjà une clef SSH sur votre ordinateur:</p>
            <pre class="prettyprint">
$ ls -al ~/.ssh
# Lists the files in your .ssh directory, if they exist
            </pre>
            <p>Si vous n'avez pas de clef, il ne devrait pas y avoir de fichier id_dsa.pub ou id_rsa.pub</p>
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#mac">Mac</a>
              </li>
              <li>
                <a data-toggle="tab" href="#windows">Windows</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="mac">
                <br>
                <p class="lead">Etapes pour installer sur Mac</p>
                <pre class="prettyprint">
$ ssh-keygen -t rsa -C "votre_email@example.com"
                </pre>
                <p>Cela vous demandera de nommer un fichier dans lequel sauvegarder la clef mais on vous indique un fichier par défaut donc appuyez juste sur <strong>Entrée</strong>.</p>
                <p>Vous n'êtes pas obligés d'associer de mot de passe à votre clef SSH</p>
                <p>Vous avez à présent une clef SSH qu'on va pouvoir mettre sur Github.</p>
                <p>Github nous indique comment faire: <a href="https://help.github.com/articles/generating-ssh-keys/#platform-mac">https://help.github.com/articles/generating-ssh-keys/#platform-mac</a></p>
                <p>Il faut notamment aller récupérer notre clef et la copier tout simplement (on pourrait aussi aller dans le fichier id_rsa.pub, l'ouvrir dans un éditeur de texte et en copier le contenu, cela ferait la même chose!).</p>
                <pre class="prettyprint">
$ pbcopy < ~/.ssh/id_rsa.pub
                </pre>
              </div>
              <div class="tab-pane" id="windows">
                <br>
                <p class="lead">Etapes pour installer sur Windows</p>
                <pre class="prettyprint">
$ ssh-keygen -t rsa -C "votre_email@example.com"
                </pre>
                <p>Cela vous demandera de nommer un fichier dans lequel sauvegarder la clef mais on vous indique un fichier par défaut donc appuyez juste sur <strong>Entrée</strong>.</p>
                <p>Vous n'êtes pas obligés d'associer de mot de passe à votre clef SSH</p>
                <p>Vous avez à présent une clef SSH qu'on va pouvoir mettre sur Github.</p>
                <p>Github nous indique comment faire: <a href="https://help.github.com/articles/generating-ssh-keys/#platform-windows">https://help.github.com/articles/generating-ssh-keys/#platform-mac</a></p>
                <p>Il faut notamment aller récupérer notre clef et la copier tout simplement (on pourrait aussi aller dans le fichier id_rsa.pub, l'ouvrir dans un éditeur de texte et en copier le contenu, cela ferait la même chose!).</p>
                <pre class="prettyprint">
# start the ssh-agent in the background
$ ssh-agent -s
# Agent pid 59566
$ ssh-add ~/.ssh/id_rsa
$ clip < ~/.ssh/id_rsa.pub
# Copies the contents of the id_rsa.pub file to your clipboard
                </pre>
              </div>
            </div>
            <h3>3. Ajoutez la clef à Github</h3>
            <p>On suit les instructions de Github<i class="fa fa-smile-o"></i>:</p>
            <ul class="list-style">
              <li>Dans les User Settings, allez dans SSH keys</li>
              <li>Cliquez sur <strong>Add SSH key</strong></li>
              <li>Entrez un descriptif par exemple: "MacBook Air Personnel"</li>
              <li>Collez votre clef</li>
              <li>Cliquez sur <strong>Add key</strong></li>
              <li>Confirmez le tout en entrant votre mot de passe Github</li>
            </ul>
            <h3>4. Vérifiez que tout fonctionne</h3>
            <pre class="prettyprint">
$ ssh -T git@github.com
            </pre>
            <p>Vous devriez voir cet avertissement et entrez yes, bravo !</p>
            <pre class="prettyprint">
The authenticity of host 'github.com (207.97.227.239)' can't be established.
RSA key fingerprint is 16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48.
Are you sure you want to continue connecting (yes/no)?
            </pre>
            <p>Il ne faut faire cela qu'une seule fois par ordinateur, rassurez-vous.</p>
            <h3>5. Créez un repository</h3>
            <p>Suivez les instructions ici<a href="http://github.com/repositories/new">http://github.com/repositories/new</a>.</p>
            <p>Suivez l'option <strong>Push an existing repository from the command line</strong> en cliquant sur l'option SSH en haut ce qui vous évitera de rentrer à chaque fois votre login et mot de passe.</p>
            <p>On ajoute origin comme lieu de destination de notre git:</p>
            <pre class="prettyprint">
$ git remote add origin git@github.com:username/repositoryname.git
            </pre>
            <p>On deploie notre site "master" sur "origin" et la prochaine fois "git push" suffira grâce à la lettre -u:</p>
            <pre class="prettyprint">
$ git push -u origin master
            </pre>
            <h3>6. Vérifiez que tout fonctionne (bis)</h3>
            <p>Rafraîchissez Github, vous devriez voir votre code apparaître. Votre code est déployé sur le web.</p>
            <p>Et envoyez-moi par mail votre URL github qui devrait ressembler à cela: https://github.com/codepin/monsite.</p>
          </div>         
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


