<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://getbootstrap.com/examples/grid/"><img src="http://blogs.interknowlogy.com/wp-content/uploads/2014/05/GridSystemTable1.png" alt="Bootstrap" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Bootstrap: la grille</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", background_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>
      
      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
            <h3>1. Qu'est-ce que c'est ?</h3>
            <p>Quand vous intégrez Bootstrap à votre site, ce dernier divise votre écran en 12 colonnes de même largeur.</p>
            <p>Cela est très utile pour placer vos éléments. "Cette colonne a trois unités de largeur" "Celle-ci en a 9" et vous aurez deux colonnes l'une occupant 25% de l'espace, l'autre occupant 75% de largeur. La somme faisant toujours 12.
            <p>Quand vous intégrez Bootstrap, vous intégrez aussi des designs spécifiques selon le type de support utilisé:</p>
              <ul class="list-style">
                <li>smartphones: xs</li>
                <li>tablettes: sm</li>
                <li>ordinateur: md</li>
                <li>larges écrans: lg</li>
              </ul>
            <h3>2. Quelle est la syntaxe ?</h3>
            <p>La syntaxe à appliquer est simple:</p>
            <p>On incorpore les colonnes dans une ligne: «div class= row »</p>
            <p>On rajoute des colonnes grâce à la class "col-xs-nbre" pour un iPhone, "col-sm-nbre" pour une tablette, etc. en s'assurant que la somme pour une même devise fasse 12.</p>
            <pre class="prettyprint">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-xs-6 col-md-8&quot;&gt;Texte&lt;/div&gt;
  &lt;div class=&quot;col-xs-6 col-md-4&quot;&gt;Texte&lt;/div&gt;
&lt;/div&gt;
            </pre>
            <p>Cela créera deux colonnes:</p> 
            <ul class="list-style">
              <li>sur les iPhones et iPads de 50%-50% de largeur</li>
              <li>sur les ordinateurs de 75%-25% de largeur</li>
            </ul>
            <p>Plus d'information est disponible à <a href="http://getbootstrap.com/css/#grid">http://getbootstrap.com/css/#grid</a>.</p>
            <h3>3. Créez vos colonnes !</h3>
            <p>Voici un exemple de ce que nous avons fait sur notre site: </p>
            <img src="https://s3-eu-west-1.amazonaws.com/codepin/Grid" class="imageLesson">
            <br>
            <p>Le code ajouté:</p>
            <pre class="prettyprint">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm-4&quot;&gt;
    &lt;i class=&quot;fa fa-globe fa-5x&quot;&gt;&lt;/i&gt;
    &lt;h3&gt;Networking&lt;/h3&gt;
    &lt;p&gt;Les selfies vous g&eacute;olocalisent et permettent de rencontrer la communaut&eacute; CPi autour du monde.&lt;/p&gt;
    &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-4&quot;&gt;
    &lt;i class=&quot;fa fa-lock fa-5x&quot;&gt;&lt;/i&gt;
    &lt;h3&gt;Priv&eacute;&lt;/h3&gt;
    &lt;p&gt;G&eacute;rez les param&egrave;tres de confidentialit&eacute; de vos selfies et rendez les visibles uniquement de la communaut&eacute; CPi !&lt;/p&gt;
    &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;Confidentialit&eacute;&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-4&quot;&gt;
    &lt;i class=&quot;fa fa-gift fa-5x&quot;&gt;&lt;/i&gt;
    &lt;h3&gt;Networking&lt;/h3&gt;
    &lt;p&gt;Le meilleur selfie remporte un voyage &agrave; SF pour rencontrer Eric Schmidt !&lt;/p&gt;
    &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </pre>
      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
              	<br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;CPi selfies&lt;/title&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
		
  &lt;!-- J&#039;inclus le CSS de Bootstrap --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
 &lt;body&gt;

    &lt;!-- Ma barre de navigation --&gt;
    &lt;nav class=&quot;navbar navbar-default&quot; role=&quot;navigation&quot;&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
        &lt;div class=&quot;navbar-header&quot;&gt;
          &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;&lt;span&gt;CPi selfies&lt;span&gt;&lt;/a&gt;
        &lt;/div&gt;

        &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
        &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
          &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;dropdown&quot;&gt;
              &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;En savoir plus&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
              &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Alumni&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Concours du meilleur selfie&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;D&eacute;connexion&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
      &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
    &lt;/nav&gt;

    &lt;h1&gt;Laissez-nous vos meilleurs selfies !&lt;/h1&gt;

    &lt;h2&gt;Des selfies aux quatre coins du monde&lt;/h2&gt;
    &lt;p&gt;Soyez les ambassadeurs de CPi&lt;/p&gt;

    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;i class=&quot;fa fa-globe fa-5x&quot;&gt;&lt;/i&gt;
        &lt;h3&gt;Networking&lt;/h3&gt;
        &lt;p&gt;Les selfies vous g&eacute;olocalisent et permettent de rencontrer la communaut&eacute; CPi autour du monde.&lt;/p&gt;
        &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;i class=&quot;fa fa-lock fa-5x&quot;&gt;&lt;/i&gt;
        &lt;h3&gt;Priv&eacute;&lt;/h3&gt;
        &lt;p&gt;G&eacute;rez les param&egrave;tres de confidentialit&eacute; de vos selfies et rendez les visibles uniquement de la communaut&eacute; CPi !&lt;/p&gt;
        &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;Confidentialit&eacute;&lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-4&quot;&gt;
        &lt;i class=&quot;fa fa-gift fa-5x&quot;&gt;&lt;/i&gt;
        &lt;h3&gt;Networking&lt;/h3&gt;
        &lt;p&gt;Le meilleur selfie remporte un voyage &agrave; SF pour rencontrer Eric Schmidt !&lt;/p&gt;
        &lt;a href=&quot;https://www.facebook.com/groups/239246196199028/?fref=ts&quot;&gt;D&eacute;couvrez Cpicy&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
    &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
    &lt;!-- J&#039;inclus le JavaScript de Bootstrap --&gt;
    &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Rien de particulier ici*/
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                    
      		<%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


