<%= render 'layouts/header_lessons' %>
    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://fortawesome.github.io/Font-Awesome/"><img src="http://speckycdn.sdm.netdna-cdn.com/wp-content/uploads/2012/12/top_50_icons_34.jpg" alt="Font-Awesome" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Icônes</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", command_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
      		  <p class="lead">Icônes, effets en passant souris, lien interne à la page.</p>
      		  <p>Bootstrap est un framework CSS et JavaScript. Un framework consiste en du code créé de manière structurée pour vous faciliter la tâche des développeurs.</p>
            <h3>1. Ce qui rend Bootstrap unique</h3>
            <p>Des sites responsives, identiques sur tous les navigateurs, intégrant des éléments allant de la barre de navigation aux messages d'alerte en passant par les onglets comme ceux de cette page.</p>
            <h3>2. Comment l'intégrer à votre site ?</h3>
            <h4>Général</h4>
            <p>Il suffit de se rendre sur la page <a href="http://getbootstrap.com/getting-started/">http://getbootstrap.com/getting-started/</a> et d'inclure Bootstrap en l'incluant dans les liens "link" de nos balises head. Sachez que vous pouvez aussi télécharger le CSS sur votre ordinateur et l'inclure à votre projet plutôt que de le garder distant. Cela vous permettra notamment de le modifier directement.</p>
            <h4>Intégration de Bootstrap CSS</h4>
            <p>Bootstrap, c’est 6203 lignes de code CSS en libre accès. On l’ajoute avec la balise link à notre document HTML, avant notre feuille de style.
            <a href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css</a></p>
            <h4>Intégration de Bootstrap JS</h4>
            <p>Bootstrap c’est aussi 2114 lignes de JavaScript (menu déroulant, etc.). On l’ajoute avec la balise link avant la balise "body".
            <ul>
            	<li><a href="http://code.jquery.com/jquery-1.11.0.js">http://code.jquery.com/jquery-1.11.0.js</a></li>
            	<li><a href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js">http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js</a></li>
            </ul>
            </p>

      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
              	<br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;CPi selfies&lt;/title&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
		
  &lt;!-- J&#039;inclus le CSS de Bootstrap --&gt;
  &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;!-- Contenu de votre site --&gt;



  &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
	&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
  &lt;!-- J&#039;inclus le JavaScript de Bootstrap a besoin --&gt;
	&lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
 &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Rien de particulier ici*/
                      </pre>
                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>                    
      		<div class="tab-pane" id="comments">
       			<div class="step-support-instructions alert alert-info fade in container" style="margin-top:15px; margin-bottom:15px; padding-top:5px;">
              <div class="row">
                <div class="col-md-12">
                  <h3>Avant de demander</h3>
                </div>
                <div class="col-md-6">
                  <strong>Astuces pour Trouver la Solution</strong>
                  <ul>
                    <li>Cherchez <a href="http://www.google.com" target="_blank">Google</a> et <a href="http://stackoverflow.com" target="_blank">Stack Overflow</a>, ou <a href="http://stackoverflow.com/" target="_blank">posez même une question.</a></li>
                    <li>Lisez vos messages d'erreur.</li>
                    <li>Essayez un navigateur différent comme <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>.</li>
                  </ul>
                </div>

                <div class="col-md-6">
                  <strong>Pour poser une Question</strong>
                  <ul>
                    <li>Soyez clair, concis et précis.</li>
                    <li>Copiez votre message d'erreur</li>
                    <li>Ecrivez votre code si nécessaire</li>
                    <li>Editer votre question si vous trouvez la réponse.</li>
                  </ul>
                </div>

              <div class="col-md-12"></div>
            </div>
          </div>
    			<%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


