<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="/lessons/chapters"><img src="https://s3-eu-west-1.amazonaws.com/codepin/Navbar" alt="Bootstrap Navbar" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Color & font-size</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", selector_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>
      
      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Code Associé</a>
          </li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
            <p class="lead">Les couleurs, les tailles de police.</p>
            <h3>1. Trois modes de définition d'une couleur</h3>
            <ul>
              <li>Nominal</li>
              <li>Hexadécimal</li>
              <li>rgba</li>
            </ul>
            <h3>2. Des sites utiles pour les couleurs</h3>
            <ul>
              <li><a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp">Colorzilla</a>, permet de récupérer sur els sites de votre choix les couleurs utilisées grâce à la "pipette"</li>
              <li><a href="http://brandcolors.net/">BrandColors</a>, recense les couleurs utilisées par tous les sites que vous connaissez</li>
              <li><a href="http://brandcolors.net/">Adobe Kuler </a>, permet de trouver pour une couleur donnée les couleurs s'associant bien avec</li>
            </ul>
            <h3>3. Deux modes de définition de la taille de police</h3>
            <ul>
              <li><strong>Absolu:</strong> précisément une taille de texte fixe</li>
              <li><strong>Relatif:</strong> taille relative au support utilisé, à la taille de la fenêtre </li>
            </ul>
            <h4>Absolu: les pixels</h4>
            <p>Vous pouvez fixer la taille grâce à des pixels: "font-size: 20px;" chaque lettre fera alors 20 pixels.</p>
            <h4>Relatif; les pourcentages ou les em</h4>
            <p>Fixez la taille en pourcentage: "font-size: 1.5em" attention à bien mettre des points et non des virgules !</p>
            <h3>Aller plus loin</h3>
            <table class="table table-bordered center">
              <th class="center">Propriété</th>
              <th class="center">Exemples de valeurs</th>
              <th class="center">Description</th>
              <tr>
                <td>font-weight</td>
                <td>bold, normal</td>
                <td>Mettre en gras</td>
              </tr>
              <tr>
                <td>font-style</td>
                <td>italique, normal, inherit</td>
                <td>Mettre en italique</td>
              </tr>
              <tr>
                <td>text-align</td>
                <td>left, center, right, justify</td>
                <td>Alignement horizontal</td>
              </tr>
              <tr>
                <td>vertical align</td>
                <td>baseline, bottom, middle, top</td>
                <td>Centrer verticalement (marche seulement sur des éléments de type inline-block)</td>
              </tr>
              <tr>
                <td>color</td>
                <td>nom, #1298F5, rgba</td>
                <td>Couleur du texte</td>
              </tr>
              <tr>
                <td>vertical align</td>
                <td>baseline, bottom, middle, top</td>
                <td>Centrer verticalement (marche seulement sur des éléments de type inline-block)</td>
              </tr>
              <tr>
                <td>vertical align</td>
                <td>baseline, bottom, middle, top</td>
                <td>Centrer verticalement (marche seulement sur des éléments de type inline-block)</td>
              </tr>

            </table>
      		</div>
      		<div class="tab-pane" id="troubleshooting">
            <div class='row'>
              <div class="col-xs-2">
                <br>
                <p><i class="fa fa-sort-desc"></i> MonSite</p>
                <p class="tab"><i class="fa fa-sort-desc"></i> css</p>
                <p class="tab2">cpi2.css</p>
                <p class="tab">index.html</p>
              </div>
              <div class="col-xs-10">
                <div class="tabbable subtab">
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a data-toggle="tab" href="#html">index.html</a>
                    </li>
                    <li>
                      <a data-toggle="tab" href="#css">cpi2.css</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="html">
                      <br>
                      <pre class="prettyprint">
&lt;!doctype html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;CPi selfies&lt;/title&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;assets/cpi2.css&quot;&gt;
  &lt;/head&gt;
  &lt;body&gt;

    &lt;div class=&quot;heading&quot;&gt;
      &lt;!-- Ma barre de navigation --&gt;
      &lt;nav class=&quot;navbar navbar-default&quot; role=&quot;navigation&quot;&gt;
        &lt;div class=&quot;container-fluid&quot;&gt;
          &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
          &lt;div class=&quot;navbar-header&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;&lt;span&gt;CPi selfies&lt;span&gt;&lt;/a&gt;
          &lt;/div&gt;

          &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
          &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;dropdown&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;En savoir plus&lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Presse&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Alumni&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Concours du meilleur selfie&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;divider&quot;&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;D&eacute;connexion&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
        &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
      &lt;/nav&gt;

      &lt;h1&gt;Laissez-nous vos meilleurs selfies !&lt;/h1&gt;

      &lt;!-- J&#039;inclus jQuery dont le JavaScript de Bootstrap a besoin --&gt;
      &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt; &lt;/script&gt;
      &lt;!-- J&#039;inclus le JavaScript de Bootstrap --&gt;
      &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"&gt; &lt;/script&gt;
    
  &lt;/body&gt;
&lt;/html&gt;
                      </pre>
                    </div>
                    <div class="tab-pane" id="css">
                      <br>
                      <pre class="prettyprint">
/*Aucun changement*/
                      </pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                    
          <%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


