<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://seositecheckup.com/"><img src="http://cyberwalker.com/wp-content/uploads/2014/08/Google-SEO.jpg" alt="GoDaddy" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>SEO</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", social_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <p class="lead">Comment mettre votre site en ligne pour que les autres puissent le voir? Avec un service qui s'appelle Heroku et qui vous laisse gratuitement déployer votre application sur le web en quelques secondes.</p>
            <h3>1. Créez-vous un compte Heroku</h3>
            <p>Cela se fait sur <a href="https://www.heroku.com/">https://www.heroku.com/</a>.</p>
            <h3>2. Téléchargez la barre d'outils d'Heroku</h3>
            <p><a href="https://toolbelt.heroku.com/">https://toolbelt.heroku.com/</a></p>
            <h3>3. Connectez-vous à Heroku</h3>
            <em>terminal</em>
            <pre class="prettyprint">
$ heroku login 
Email: (entrez votre mail) 
Password (entrez votre mot de passe - cela restera blanc ne vous inquiétez pas si rien ne s'affiche quand vous tapez)
            </pre>
            <h3>4. Ajoutez les clefs et créez un repo</h3>
            <em>terminal</em>
            <pre class="prettyprint">
$ heroku keys:add
$ heroku create monsite --region eu
            </pre>
            <h3>5. Danse habituelle de git</h3>
            <em>terminal</em>
            <pre class="prettyprint">
$ git add . 
$ git commit -m "Prêt à déployer sur Heroku"
$ git push origin master
$ git push heroku master
            </pre>
            <h3>6. Petite manip' pour que ça fonctionne</h3>
            <p>Aussi bizarre que cela puisse paraître, pour déployer sur Heroku il faut qu'Heroku comprenne que notre site est en Ruby, PHP, etc. Or pour l'instant notre site n'est "en rien" il va donc falloir simuler que notre site soit en PHP.</p>
            <ul class="list-style">
              <li>Renommez votre page d'accueil <em>home.html</em></li>
              <li>Créez un fichier <em>index.php</em> et indiquez-y:</li>
            </ul>
              <pre class="prettyprint">
&lt;?php include_once("home.html"); ?&gt;
              </pre>
            <p>C'est tout. Faîtes la danse de git et votre push sur heroku devrait fonctionner.</p>
            <h3>7. Vérifiez que tout fonctionne</h3>
            <p>Rendez-vous sur monsite.herokuapp.com pour vérifier que tout fonctionne!</p>
          </div>         
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


