<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <img src="http://www.gollcherferries.com/wp-content/uploads/2013/10/fi-commentssocial-640x290.png" alt="GoDaddy" class="imageLesson">
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Social</h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", chapters_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#step-notes">Support de cours</a>
          </li>
          <li>
            <a data-toggle="tab" href="#comments">Questions</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="step-notes">
            <br>
            <p class="lead">Let's understand the Facebook API so that we can add the Facebook Like Button and Commenting</p>
            <h3>1. Allez sur le Facebook des développeurs</h3>
            <a href="https://developers.facebook.com/">https://developers.facebook.com/</a>
            <h3>2. Ajoutez le JavaScript SDK à votre site</h3>
            <p>Copiez le code donné par Facebook et ajoutez le juste après la balise d'ouverture "body".</p>
            <h3>3. Ajoutez le code du plug-in à votre site</h3>
          </div>         
          <%= render 'layouts/lessons/disqus' %>
        </div>
      </div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


