<%= render 'layouts/header_lessons' %>

    <div class="container step-container">
      <div style="width:100%;">
        <div class="wistia_embed" id="wistia_qc62xzfpxe">
          <a href="http://www.sublimetext.com/"><img src="http://i.imgur.com/B7cXd.png" alt="sublime text" class="imageLesson"></a>
        </div>
      </div>

      <ul class="list-inline">
        <li><h1>Sublime Text </h1></li>
        <li class="pull-right">
          <%= link_to "Terminer et continuer", firstpage_path, class: "btn complete-btn one-month-rails" %>
        </li>
      </ul>
    
      <div class="tabbable">
      	<ul class="nav nav-tabs">
      		<li class="active">
      			<a data-toggle="tab" href="#step-notes">Support de cours</a>
      		</li>
      		<li>
      			<a data-toggle="tab" href="#comments">Questions</a>
      		</li>
      	</ul>
      	<div class="tab-content">
      		<div class="tab-pane active" id="step-notes">
      		  <br>
      		  <p class="lead">Vous avez besoin d'un éditeur de texte pour coder.</p>
      		  <p>Vous pourriez utiliser votre Notepad mais des logiciels sont pensés pour: ils ajoutent de la couleur, réagissent intelligemment lors d'erreur et auto-complètent du code lorsqu'on appuie sur "Tab".
            <h3>Téléchargez Sublime Text</h3>
            <a href="http://www.sublimetext.com/">http://www.sublimetext.com/</a>
      		</div>                    
          <%= render 'layouts/lessons/disqus' %>
    		</div>
    	</div>
    </div>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        prettyPrint();
      });
    </script>
  </body>
</html>


