<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "input-sign-in" %></div>
  <div><%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-sign-in" %></div>
  <!-- <div> --><%# if devise_mapping.rememberable? %>
    <%# f.check_box :remember_me %>
    <%# f.label :remember_me, placeholder: "" %>
  <%# end %><!-- </div> -->
  <div><%= f.submit "Faites le grand plongeon", class: "input-sign-in", id: "dive" %></div>
<% end %>
<div id="devise_links">
  <%= link_to "S'inscrire", new_student_registration_path, id: "signUpLink" %>
  <%= link_to "Oubli", new_student_password_path, id: "forgotLink" %>
</div>

<script type="text/javascript">
  $( "#signUpLink" ).click(function( event ) {
    event.preventDefault();
    $( "#sign-in-form" ).fadeOut();
    $( "#sign-up-form" ).fadeIn();
  });
  $( "#forgotLink" ).click(function( event ) {
    event.preventDefault();
    $( "#sign-in-form" ).fadeOut();
    $( "#forgot-form" ).fadeIn();
  });
</script>