<% content_for :title, "JApprendsACoder" %>
<% content_for :description, "JApprendsacoder est une formation de code intense pour les actifs. En 1 mois maitrisez les outils pour construire votre site sous Ruby on Rails." %>

<%# form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- <div><%# f.email_field :email, autofocus: true, placeholder: "Email", class: "input-sign-in" %></div> -->
<!--   <div><%# f.password_field :password, autocomplete: "off", placeholder: "Mot de passe", class: "input-sign-in" %></div> -->
  <!-- <div> --><%# if devise_mapping.rememberable? %>
    <%# f.check_box :remember_me %>
    <%# f.label :remember_me, placeholder: "" %>
  <%# end %><!-- </div> -->
  <!-- <div><%# f.submit "Faites le grand plongeon", class: "input-sign-in", id: "dive" %></div> -->
<%# end %>
<%# link_to "S'inscrire", new_student_registration_path, id: "signUpLink" %>
<!-- <a id="forgotLink">Oubli</a> -->