<div class="tab-pane" id="comments">
	<div class="step-support-instructions alert alert-info fade in container" style="margin-top:15px; margin-bottom:15px; padding-top:5px;">
    <div class="row">
      <div class="col-md-12">
        <h3>Avant de demander</h3>
      </div>
      <div class="col-md-6">
        <strong>Astuces pour Trouver la Solution</strong>
        <ul>
          <li>Cherchez <a href="http://www.google.com" target="_blank">Google</a> et <a href="http://stackoverflow.com" target="_blank">Stack Overflow</a>, ou <a href="http://stackoverflow.com/" target="_blank">posez même une question.</a></li>
          <li>Lisez vos messages d'erreur.</li>
          <li>Essayez un navigateur différent comme <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>.</li>
        </ul>
      </div>

      <div class="col-md-6">
        <strong>Pour poser une Question</strong>
        <ul>
          <li>Soyez clair, concis et précis.</li>
          <li>Copiez votre message d'erreur</li>
          <li>Ecrivez votre code si nécessaire</li>
          <li>Editer votre question si vous trouvez la réponse.</li>
        </ul>
      </div>

      <div class="col-md-12"></div>
    </div>
  </div>

	<div id="comments">
		<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'codepin'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>