* {
	font-family: 'Open Sans', sans-serif;
}

.heading {
 background-image: url(https://farm8.staticflickr.com/7228/7305626676_cf68f91f14_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 500px;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	min-height: 70px;
}

.navbar-brand, .navbar-toggle {
	margin-top: 0.6em;
	text-transform: uppercase;
}

.navbar-right li a {
	margin-top: 0.6em;
	text-transform: uppercase;
}

h1 {
	color: #fff;
	text-align: center;
	padding-top: 130px;
	font-family: 'Cookie', cursive;
	font-size: 5em;
}

.center {
	text-align: center;
}

.facebook {
	text-align: center;
	color: #fff;
}