.heading {
	background: url(https://farm8.staticflickr.com/7228/7305626676_cf68f91f14_b.jpg) no-repeat left	top;
	height: 500px;
	background-size: cover;
	background-attachment: fixed;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	min-height: 70px;
}

.navbar-brand, .navbar-toggle {
	padding: 1.7em;
	text-transform: uppercase;
}

.navbar-right li a {
	padding: 1.7em;
	text-transform: uppercase;
}

.dropdown-toggle:hover {
	color: black;
}

/*Body*/
.heading h1 {
	color: #fff;
	text-align: center;
	padding-top: 120px;
	font-family: 'Sofia', Helvetica, Sans-serif;
	font-size: 4em;
}



/* FIN PREMIERE PARTIE DE COURS*/
/* POINTS ABORDES*/
/*IMAGE DE FOND*/
/*BOX MODEL*/
/*HOVER*/
/*FONT FAMILY*/


/*Ajout bouton pour montrer les inline, block, et inline block et positionnement en CSS*/

.heading .btn-default {
	margin: 0 auto;
  display: block;
  border-radius: 0;
  width: 15%;
  padding: 0.7em 2em;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #fff;
}

.heading .btn-default:hover {
	background-color: rgba(14, 16, 11, 0.5);
}


/*AJout d'autres éléments bootstrap INITIATION GRID SYSTEM*/

/*<div class="row">
      <div class="col-sm-4">
        Test
      </div>
      <div class="col-sm-4">
        Test
      </div>
      <div class="col-sm-4">
        Test
      </div>
    </div>*/

/*Font awesome*/

section {
	text-align: center;
}

.row {
	padding-top: 2em;
	padding-bottom: 5em;
}

.main p, #photos p {
	font-family: 'Sofia', Helvetica, Sans-serif;
}

/*On s'amuse: position fixed, lien plus bas page, icônes, nouvelle page*/

/*Feuille "aller plus loin"*/


/*Pictures*/

#photos {
	background-color: #f2f2f2;
}


