#headerfast
{
	position: relative;
	background: url(https://farm8.staticflickr.com/7092/7109231033_0cb6c15755_b.jpg) top no-repeat;
	/* fix background */
	background-attachment: fixed;
	/* Scale it nicely to the element */
	background-size: cover;
	text-align: center;
	height: 500px	;
}

	#headerfast:before
	{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(64,64,64,0.125);
	}

#logofast
	{
		position: relative;
		z-index: 1;
	}
	
		#logofast h1
		{
			display: block;
			text-decoration: none;
			line-height: 1em;
			font-size: 5em;
			color: #FFF;
			letter-spacing: -0.05em;
			margin: 0 0 0.125em 0;
		}

		#logofast h2
		{
			font-weight: bold;
			display: block;
			text-decoration: none;
			font-weight: 300;
			line-height: 1em;
			font-size: 3em;
			color: #FFF;
			letter-spacing: -0.05em;
			margin: 0 0 0.125em 0;
		}
		
		#logofast span
		{
			font-size: 1.4em;
			color: #FFF;
		}

#tweetfast
	{
		position: relative;
		text-align: center;
		background: url(https://farm3.staticflickr.com/2877/9332210971_1ecd122ea1_b.jpg) no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}

		#tweetfast:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.5);
		}
	
		#tweetfast section
		{
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: rgba(255,255,255,.1);
		}

		#tweetfast blockquote
		{
			position: relative;
			border: none;
			margin: 0;
			font-weight: 300;
			color: rgba(255,255,255,.6);
		}

		#tweetfast p
		{
			position: relative;
			font-size: 1.4em;
    		color: rgba(255, 255, 255, 0.6);
		}

		#tweetfast
		{
			padding: 6em 0em;
		}

		#tweetfast blockquote
		{
			margin: 0;
			padding: 1em 4em;
			line-height: 1.5em;
			font-size: 1.8em;
		}


.fasttext {
	padding-top: 20%;
}


/* Wrapper */
.wrapper {
  width: 550px;
  margin: 20px auto;
}

/* Window */
.window {
	height: 450px;
	background: url('http://www.whalesharkstudio.com/wp-content/uploads/2013/10/LONDON_1a.jpg');
	position: relative;
	overflow: hidden;
  margin-bottom: 10px;
  text-align: left;

}

/* Score */
.score {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 250%;
  padding-top: 20px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 0 #000;
  z-index: 4;
}

/* Bird */
.bird {
	height: 28px;
	width: 40px;
	background: url('http://s28.postimg.org/k90gybbtl/bird_Sprite.png');
	position: absolute;
	bottom: 50%;
	left: 330px;
	z-index: 3;
  animation: birdFlap 0.2s steps(3, end) infinite alternate;
  transition: transform 0.3s;
}

@keyframes birdFlap {  
  0% {background-position: 0 84px;}
  100% {background-position: 0 0;}
}

/* Pipes */
.pipe {
	width: 60px;
	height: 100%;
	position: absolute;
	right: -60px;
	z-index: 2;
}

.pipe.hidden {
  display: none;
}

.pipe .topHalf {
	background: url('http://s21.postimg.org/kyr2rnpzr/pipe.png') bottom;
	position: absolute;
	top: 0;
	width: 100%;
}

.pipe .bottomHalf {
	background: url('http://s21.postimg.org/kyr2rnpzr/pipe.png') top;
	position: absolute;
	bottom: 0;
	width: 100%;
}

