/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		margin: 0;
		padding: 0;
		background: #161616;
	}

	body,input,textarea,select
	{
		font-family: 'Roboto', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #777;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 300;
		color: #777;
	}
	
		h2
		{
			letter-spacing: -0.025em;
		}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}
		
	strong, b
	{
		font-weight: 500;
	}
	
	em, i
	{
		font-style: italic;
	}

	a
	{
		text-decoration: none;
		color: #80BA8E;
	}
	
	a:hover
	{
		text-decoration: underline;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		margin: 6em 0 0 0;
		padding: 6em 0 0 0;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	header
	{
		margin-bottom: 1.6em;
	}
	
		header h2
		{
		}

		header .byline
		{
			display: block;
			margin: 1.5em 0 0 0;
			padding: 0 0 0.5em 0;
		}
		
	footer
	{
		margin-top: 1em;
	}

	br.clear
	{
		clear: both;
	}

	.pennant
	{
		color: #bbb;
	}

	/* Sections/Articles */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.full
			{
				display: block;
				width: 100%;
				margin-bottom: 2em;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}
			#teacher-img
			{
				width: 40px;
				height: 40px;
				border-radius: 20px;
				-webkit-border-radius: 150px;
				-moz-border-radius: 150px;
			}

	/* Lists */

		ul.default
		{
			margin: 0;
			padding: 0em 0em 1.5em 0em;
			list-style: none;
		}
		
			ul.default li
			{
				padding: 0.60em 0em;
				font-size: 0.95em;
				border-top: 1px solid;
				border-color: rgba(0,0,0,.1);
			}		
		
			ul.default li:first-child
			{
				padding-top: 0;
				border-top: none;
			}
	
			ul.default {
			}
		
		ul.style li {
			margin: 0;
			padding: 2em 0em 1.5em 0em;
			border-top: 1px solid;
			border-color: rgba(0,0,0,.1);
		}
		
		ul.style li:first-child
		{
			padding-top: 0;
			border-top: none;
		}
		
		ul.style img {
			float: left;
			margin-right: 20px;
		}
		
		ul.style a {
			color: #434343;
		}
		
		ul.style .posted {
			padding: 0em 0em 1em 0em;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 8pt;
			color: #A2A2A2;
		}
		
		ul.style .first {
			padding-top: 0px;
			border-top: none;
		}
							

	/* Buttons */
		
	.button
	{
		position: relative;
		display: inline-block;
		background: #80BA8E;
		padding: 0.8em 2em;
		text-decoration: none !important;
		font-size: 1.2em;
		font-weight: 300;
		color: #FFF !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
		border-radius: 0.05em;
	}

	.button:hover
	{
		background: #70AA7E;
		color: #FFF !important;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		padding: 1.5em 0 0 0;
		list-style: none;
		cursor: default;
	}
	
	ul.contact li
	{
		display: inline-block;
		margin: 0 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: inherit;
		font-size: 1.75em;
		display: inline-block;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	}
	
	ul.contact li a:hover
	{
		color: #fff;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		background: url(../assets/header.jpg) top no-repeat;
		/* fix background */
		background-attachment: fixed;
		/* Scale it nicely to the element */
		background-size: cover;
		text-align: center;
		height: 500px	;
	}
	
		#header:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.125);
		}

	.btn-start
	{
	color: #4d4d4d;
	border-color: #f7d531;
	font-size: 18px;
	margin-top: 1em;
	padding: 13px 20px;
	line-height: 1.227;
	border-radius: 2px;
	border: 0;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
    background: rgba(248, 218, 74, 1);
    position: relative;
	-webkit-appearance: none;
	}

	.btn-start:hover
	{
	text-decoration: none;
	background: rgba(246, 208, 25, 1);
	}

	.btn-apply
	{
	color: #fff;
	border-color: #b84325;
	font-size: 18px;
	margin-top: 1em;
	padding: 13px 20px;
	line-height: 1.227;
	border-radius: 2px;
	border: 0;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
    width: 300px;
    background: rgba(212, 87, 55, 1);
    position: relative;
	-webkit-appearance: none;
	}

	.center
	{
	display: block;
    margin: 2em auto 0 auto;
	}

	.btn-apply:hover
	{
	text-decoration: none;
	background: rgba(255, 83, 39, 1);
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: relative;
		z-index: 1;
	}
	
		#logo h1
		{
			display: block;
			text-decoration: none;
			line-height: 1em;
			font-size: 7em;
			color: #FFF;
			letter-spacing: -0.05em;
			margin: 0 0 0.125em 0;
		}

		#logo h2
		{
			font-weight: bold;
			display: block;
			text-decoration: none;
			font-weight: 300;
			line-height: 1em;
			font-size: 3em;
			color: #FFF;
			letter-spacing: -0.05em;
			margin: 0 0 0.125em 0;
		}
		
		#logo span
		{
			font-size: 1.4em;
			color: #FFF;
		}

/*********************************************************************************/
/* Header for Apply	                                                             */
/*********************************************************************************/


	#header-apply
	{
		position: relative;
		background: url(../assets/header1c.jpg)  bottom center no-repeat;
		/* fix background */
		background-attachment: fixed;
		/* Scale it nicely to the element */
		background-size: cover;
		text-align: center;
		height: 500px	;
	}
	
		#header-apply:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.125);
		}

	#header-apply ul li, #header-apply form
	{
    	display: inline;
	}

	.form-group
	{
		margin-top: 15px;
	}

/*********************************************************************************/
/* Header for SignIn	                                                             */
/*********************************************************************************/


	#header-sign-in
	{
		position: relative;
		background: url(../assets/header2.jpg) top no-repeat;
		/* fix background */
		background-attachment: fixed;
		/* Scale it nicely to the element */
		background-size: cover;
		text-align: center;
		height: 500px	;
	}
	
		#header-sign-in:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.125);
		}

/*********************************************************************************/
/* Header for Applied                                                            */
/*********************************************************************************/


	#header-applied
	{
		position: relative;
		background: url(../assets/header4.jpg) top no-repeat;
		/* fix background */
		background-attachment: fixed;
		/* Scale it nicely to the element */
		background-size: cover;
		text-align: center;
		height: 500px	;
	}
	
		#header-applied:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.125);
		}

/*********************************************************************************/
/* Header for Subscribed                                                         */
/*********************************************************************************/


	#header-subscribed
	{
		position: relative;
		background: url(../assets/header5.jpg) top no-repeat;
		/* fix background */
		background-attachment: fixed;
		/* Scale it nicely to the element */
		background-size: cover;
		text-align: center;
		height: 500px	;
	}
	
		#header-subscribed:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.125);
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav-wrapper
		{
			background: rgba(0,0,0,.4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		
		#nav > ul
		{
			margin: 0;
			padding: 0;
			text-align: center;
		}

		#nav > ul > li
		{
			display: inline-block;
			border-right: 1px solid;
			border-color: rgba(255,255,255,.1);
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
				border-right: none;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: inline-block;
				padding: 1.5em 1.5em;
				letter-spacing: 0.06em;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				color: #FFF;
			}

			#nav li#apply a
			{
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}
	
	#sign-in-nav
	{
		float: right;
		position: absolute;
		top: 0;
		right: 5%;
	}

	#sign-in-nav > div
	{
		display: inline-block;
		padding: 1.5em 1.5em;
	}

	#sign-in-nav > div > a
	{
		padding: 0.5em;
		border: 1px solid grey;
		letter-spacing: 0.06em;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.1em;
		outline: 0;
		color: white;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main, #formation
	{
		position: relative;
		background: #fff;
	}
	
	.homepage #content
	{
		text-align: center;
	}
	
	.homepage #content header h2
	{
	}

	#dates h2
	{
		display: block;
		padding-bottom: 0.50em;
	}

	#dates .posted
	{
		font-size: 0.9em;
	}

	.divider
	{
	height: 0.25em;
	background-color: #e6e6e6;
	width: 25%;
	margin-top: 3%;
	margin-bottom: 4%;
	margin-left: 37.5%;
	}

	.form-group label
	{
		font-weight: bold;
		display: block;
	}

	#email
	{
		width: 100%;
	}

	.form-group .form-area
	{
		width: 100%;
		height: 100px;
	}

	span label 
	{
		font-size: 1.3em;
	}

/*********************************************************************************/
/* Faq	                                                                         */
/*********************************************************************************/

	.faq p
	{
		font-size: 1.1em;
	}

	#faq_date a
	{
		text-decoration: underline;
		color: #777;
	}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		text-align: center;
	}
	
	#footer header h2
	{
		color: #FFF !important;
		font-size: 2em;
	}
	
	#footer header .byline
	{
		color: rgba(255,255,255,.2);
	}

	#footer header .byline a
	{
		display: none;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		text-align: center;
		color: #774535;
	}
	
	#copyright .container
	{
		padding: 3em 0em;
		border-top: 1px solid;
		border-color: rgba(255,255,255,.05);
		color:  rgba(255,255,255,.1);
	}
	
	#copyright a
	{
		text-decoration: none;
		color:  rgba(255,255,255,.2);
	}
	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		position: relative;
		background: #f2f2f2;
		text-align: center;
	}
	
	#featured h3
	{
		display: block;
		font-weight: 300;
	}

	#featured .pennant
	{
		font-size: 4em;
	}
	
	#featured .button
	{
		margin-top: 1.5em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
	
	#tweet
	{
		position: relative;
		text-align: center;
		background: url(../assets/header.jpg) no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}

		#tweet:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64,64,64,0.5);
		}
	
		#tweet section
		{
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: rgba(255,255,255,.1);
		}

		#tweet blockquote
		{
			position: relative;
			border: none;
			margin: 0;
			font-weight: 300;
			color: rgba(255,255,255,.6);
		}

		#tweet p
		{
			position: relative;
			font-size: 1.4em;
    		color: rgba(255, 255, 255, 0.6);
		}

/*********************************************************************************/
/* BACK                                                                      */
/*********************************************************************************/
/*********************************************************************************/
/* SIGN-IN                                                                      */
/*********************************************************************************/
	#sign-in-form, #sign-up-form, #forgot-form
	{
		height: 250px;
		width: 100%;
		bottom: 0;
		position: absolute;
	}

	#sign-in-form a, #sign-up-form a, #forgot-form a
	{
		color: #fff;
		text-decoration: none;
	}

	#forgotLink
	{
		padding-left: 5%;
	}

	.input-sign-in
	{
	color: #4d4d4d;
	border-color: rgba(255,255,255,1);
	font-size: 14px;
	margin-top: 1em;
	padding: 10px 20px;
	line-height: 1.227;
	border-radius: 2px;
	border: 0;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	white-space: nowrap;
  background: #fff;
  position: relative;
	-webkit-appearance: none;
	}

	#dive
	{
		background: rgba(248, 218, 74, 1);
		cursor: pointer;
	}
	
	input:-webkit-autofill {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 0 50px #fff;
	}

.papanel {
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  background-color: white;
}
.papanel-default {
  border-color: #dddddd;
}
.papanel-heading {
  background-color: whitesmoke;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.papanel-heading-up {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 10px 15px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.papanel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding: 15px;
}
.papanel-body {
  padding: 15px;
}
.paform-group {
  margin-bottom: 15px;
}
.paform-group label {
  font-size: 15px;
}
.paform-control {
  border: 2px solid #a6a6a6;
  border-radius: 1px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.428571429;
}

.subtab {
	margin-top: 20px;
}

.tab {
	margin-left: 20px;
}

.tab2 {
	margin-left: 40px;
}

pre {
  white-space: pre-wrap;
}


.blurred {
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
