/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

	header
	{
		margin-bottom: 1.6em;
	}
	
		header h3
		{
			font-size: 2em;
			line-height: 1.1em;
		}

		header .byline
		{
			font-size: 1.2em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main, #formation
	{
	}
	
	.homepage #content header h2
	{
		font-size: 1.8em;
	}

	#dates h2
	{
		font-size: 2em;
	}

/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
	
	#tweet
	{
	}

	#tweet blockquote
	{
		font-size: 1.6em;
	}	