<!-- Footer -->
<div id="footer">
  <div class="container">
    <section>
      <header>
        <h2>Nous contacter</h2>
        <span class="byline">Nous répondons dans la journée à toutes vos questions</span>
      </header>
      <ul class="contact">
        <li><a href="https://twitter.com/JapprendsleCode" class="fa fa-twitter"><span>Twitter</span></a></li>
        <li class="active"><a href="https://www.facebook.com/japprendslecode" class="fa fa-facebook"><span>Facebook</span></a></li>
        <li><a href="https://plus.google.com/u/0/b/115423638852953314111/115423638852953314111" class="fa fa-google-plus" rel="publisher"></a></li>
      </ul>
      <span>formation@japprendsacoder.fr</span>
      <div>J'Apprends A Coder, 39 rue du Caire, 75002 PARIS</div>
      <div style="display: none;"><a href="https://plus.google.com/+JapprendsacoderFr" rel="publisher">Google+</a>
      </div>
    </section>
  </div>
</div>

<!-- Copyright -->
<div id="copyright">
  <div class="container">
    Design: <a href="http://templated.co">TEMPLATED</a> Copyright: <a href="http://japprendsacoder.fr">J'apprends A Coder</a>
  </div>
</div>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>