<!-- Header -->
<% if current_page?(:controller => "/pages", :action => "home") %>
  <div id="header">
    <%= render 'layouts/nav' %>
    <div class="container"> 
      <!-- Logo -->
      <div id="logo">
        <h1>Comprenez le code</h1>
        <h2>en 10 minutes par jour pendant 30 jours</h2>
      </div>
        <a class="btn-start" href="#main">Découvrez ce dont vous serez capable</a>
      </div>
    </div>
  </div>

<% elsif current_page?(:controller => "/pages", :action => "apply") %>
  <div id="header-apply">
    <%= render 'layouts/nav' %>
    <div class="container"> 
      <!-- Logo -->
      <div id="logo">
        <h1>Executive CodeCamp</h1>
        <h2>BE GEEK</h2>
      </div>
      <ul>
<!--       <li>
      <a class="btn-start" href="#main">Je contacte l'équipe</a>
    </li> -->
      <li>
      <%= form_tag charges_path, id: 'chargeForm', class: 'form-inline' do %>
         <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>
          <%= hidden_field_tag 'amount', 4900 %>
          <button id="btn-buy" type="button" class="btn-start"><span class="glyphicon glyphicon-ok"></span>J'accède au tutoriel (HTML, CSS)</button>
          <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });
             document.getElementById('btn-buy').addEventListener('click', function(e) {
              handler.open({
                name: "J'ApprendsACoder",
                description: 'Formation Executive CodeCamp',
                amount: document.getElementById("amount").value,
                currency: "eur"
            });
            e.preventDefault();
           })
          </script>
        <% end %>
      </li>
    </ul>
    </div>
  </div>

<% elsif current_page?(:controller => "/pages", :action => "sign_in") %>
  <div id="header-sign-in">
    <%= render 'layouts/nav' %>
      <!-- Logo -->
      <div id="logo"><h1></h1></div>
      <div id="sign-in-form">
        <%= render '/devise/sessions/new' %>
      </div>
      <div id="sign-up-form" style="display: none;">
        <%= render '/devise/registrations/new' %>
      </div>
      <div id="forgot-form" style="display: none;">
        <%= render '/devise/passwords/new' %>
      </div>
  </div>

<% elsif current_page?(:controller => "/pages", :action => "applied") %>
  <div id="header-applied">
    <%= render 'layouts/nav' %>
    <div class="container"> 
      <!-- Logo -->
      <div id="logo">
        <h1>You're a geek now.</h1>
        <h2>La première vidéo arrive le 11 octobre.</h2>
      </div>
      <a class="btn-start" href="..">Retourner à la page d'accueil</a>
    </div>
  </div>

<% elsif current_page?(:controller => "/charges", :action => "subscribed") %>
  <div id="header-subscribed">
    <%= render 'layouts/nav' %>
    <div class="container"> 
      <!-- Logo -->
      <div id="logo">
        <h1>You're in !</h1>
        <h2>Vous allez recevoir des informations sous 48h !</h2>
      </div>
      <a class="btn-start" href="..">Retourner à la page d'accueil</a>
    </div>
  </div>

<% else %>
  <div id="header-sign-in">
    <%= render 'layouts/nav' %>
      <!-- Logo -->
      <div id="logo"><h1></h1></div>
      <div id="sign-in-form">
        <%= render '/devise/sessions/new' %>
      </div>
      <div id="sign-up-form" style="display: none;">
        <%= render '/devise/registrations/new' %>
      </div>
      <div id="forgot-form" style="display: none;">
        <%= render '/devise/passwords/new' %>
      </div>
  </div>
<% end %>
