<!DOCTYPE html>
<html>
  <head>

    <title><%= h yield(:title) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%=h yield(:description) %>">
    <meta name="robots" content="NOODP">
    <meta name="keywords" content="apprendre, coder, Paris, formation, cours, Rails, HTML5, CSS, JavaScript, web, Design" />
    <meta name="google-site-verification" content="vjG2Ks9_3aOvtb-HE0lKEKfLBBqbCelw4axh8MlEo1M" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link data-turbolinks-track="true" href="/assets/onemonth.css" media="all" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/assets/ruby.ico" />

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <header class="navbar navbar-default navbar-static-top one-month-rails" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/lessons/chapters">CPi Code Academy</a>
        </div>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
                
              <li class="dropdown">
                <a data-toggle="dropdown" href="#">
                  Tournaud<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
<!--              <li><a href="/users/edit">Profil</a></li>
     -->          <li>
                    <%= form_tag destroy_student_session_path, method: :delete, id: "logout_form" %>
                    <%= link_to 'Déconnexion', "#", id: "logout" %>
                  </li>
                  <script type="text/javascript">
                    $(document).ready(function(){
                      $('#logout').click(function(){
                          $('#logout_form').submit();
                      });
                    });
                  </script>
              
                </ul>
              </li>
          </ul>
        </nav>
      </div>
    </header>