<div id="nav-wrapper"> 
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="..">Accueil</a></li>
      <li id="apply"><%= link_to "NOS TUTORIELS", apply_path %></li>
      <% if student_signed_in? %>
        <li id="sign-in-nav"><div><%= link_to "Déconnexion", destroy_student_session_path, method: :delete %></div></li>
      <% else %>
      	<li id="sign-in-nav"><div><%= link_to "Espace Codeurs", devise_path %></div></li>
    	<% end %>
    </ul>
  </nav>
</div>